<!-- IF STARGATE -->
	<!-- INCLUDE overall_header.html -->
	<!-- IF PORTAL_MESSAGE -->
	<div class="block_body">
		<div class="inner">
			<span class="corners-top"><span></span></span>
				<div class="block_header"><div class="portal_message">{PORTAL_MESSAGE}</div></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- INCLUDE portal_center.html -->

	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<!-- INCLUDE blocks/block_whos_on_line.html -->
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
		<!-- INCLUDE blocks/block_birthday.html -->
	<!-- ENDIF -->
	<!-- IF NEWEST_USER -->
		<!-- INCLUDE blocks/block_stats.html -->
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->