<!-- IF S_ALLOW_FOOTER_IMAGES -->
	<br />
	<a rel="external" href="http://phpbb.com"> <img src="./images/links/www.phpbb.com.gif" alt="" /></a>
	<a rel="external" href="http://startrekguide.com"> <img src="./images/links/www.startrekguide.com.gif" alt="" /></a>
	<a rel="external" href="http://vikjavev.no/highslide"> <img src="./images/links/vikjavev.no.gif"  alt="" /></a>
	<a rel="external" href="http://www.mozilla.com"> <img src="./images/links/www.mozilla.com.gif"  alt="" /></a>
	<a rel="external" href="http://www.phpbbireland.com"> <img src="./images/links/www.phpbbireland.com.gif"  alt="" /></a>
	<a rel="external" href="http://www.e-tegra.com"> <img src="./images/links/www.e-tegra.com.gif"  alt="" /></a>
	<a rel="external" href="http://sourceforge.net/donate/index.php?group_id=156802"><img src="./images/links/project-support.jpg" width="88" height="32" border="0" alt="Support This Project" /></a>
	<a rel="external" href="http://validator.w3.org/check?uri=referer"><img src="./images/links/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
<!-- ENDIF -->