<!-- IDTAG start block_mod_status.html 17 March 2008 copyright phpbbireland.com 2007 -->

<span class="block_data">
<!-- BEGIN mod_status_row -->
	<div class="mod_status">
		<div style="text-align:center; padding-top:5px; padding-bottom:1px;">&bull; <span class="red">{mod_status_row.MOD_NAME}</span> &bull; {L_VERSION}: {mod_status_row.MOD_VERSION} &bull; </div>

		<div style="text-align:center">{mod_status_row.MOD_DETAILS} </div>

		<div style="text-align:center; padding:3px;">{L_LAST_UPDATED}: {mod_status_row.MOD_UPDATED} &bull; {L_AUTHOR}: <a rel="external" href="{mod_status_row.MOD_LINK}"><strong>{mod_status_row.MOD_AUTHOR}</strong></a> &bull; {L_STATUS}: {mod_status_row.MOD_COMPETED}
		<!-- IF mod_status_row.MOD_AUTHOR_CO -->
		&bull; {L_PORTED_BY}: <a rel="external" href="{mod_status_row.MOD_SUPPORT}"><strong>{mod_status_row.MOD_AUTHOR_CO}</strong></a>
		<!-- ENDIF -->
		</div>
		<!-- IF mod_status_row.MOD_LINK --><div style="text-align:center">{L_CHECK_VERSION} <a rel="external" href="{mod_status_row.MOD_SUPPORT}">{LINK_IMG}</a></div><!-- ENDIF -->


		<div style="text-align:center">{mod_status_row.MOD_DOWNLOAD_COUNT}</div>

		<!-- IF mod_status_row.MOD_THIS < MOD_COUNT --><div class="hr"><hr /></div><!-- ENDIF -->
	</div>
<!-- END mod_status_row -->
<!-- IF DEBUG_QUERIES -->{MS_PORTAL_DEBUG}<!-- ENDIF -->
</span>

<!-- IDTAG ends block_mod_status.html -->