/* You have the right to customize this skin as you want as the credits remain in place.
DO NOT REMOVE CREDITS!!!!!!!!!
http://www.phpbb-skin.info/skinlab
Alpha Trion
*/

a.cp_left:link , a.cp_left:visited {
color: #FFFFFD;
}
a.cp_left:hover, a.cp_left:active {
color: #cccccc;
}
.cp_left {
background:  url('./images/cp_right.png') repeat-x left 0%;
/*border-right: 1px solid #309B27;*/
/*border-left: 1px solid #309B27;*/
/*border-top: 1px solid #350000;*/
color: #CFF0CC;
font-weight: bold;
float: left;
text-align: center;
margin: 0px 5px 0px 5px;
font-size: 10px;
padding: 0px 10px 0px 10px;
text-decoration: none;
}
.cp_left:hover {
background:  url('./images/cp_right.png') repeat-x left 100%;
border-right: 1px solid #309B27;
border-left: 1px solid #309B27;
color: #cdcdcd;
font-weight: bold;
float: left;
text-align: center;
margin: 0px 5px 0px 5px;
font-size: 10px;
padding: 0px 10px 0px 10px;
text-decoration: none;
}

a.cp_right:link , a.cp_right:visited {
color: #FFFFFD;
}
a.cp_right:hover, a.cp_right:active {
color: #cccccc;
}
.cp_right {
background:  url('./images/cp_right.png') repeat-x right 0%;
/*border-left: 1px solid #309B27;*/
/*border-right: 1px solid #309B27;*/
color: #CFF0CC;
font-weight: bold;
float: right;
text-align: center;
margin: 0 5px 0 5px;
font-size: 10px;
padding: 0 5px 0 5px;
}
.cp_right:hover {
background:  url('./images/cp_right.png') repeat-x right 100%;
/*border-left: 1px solid #309B27;
border-right: 1px solid #309B27;*/
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0 5px 0 5px;
font-size: 10px;
padding: 0px 10px 0px 10px;
text-decoration: none;
}




.cp_right_null {
background:  url('./images/cp_right.png') repeat-x right 0%;
border-right: 1px solid #000000;
color: #309B27;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
padding: 0px 11px 7px 15px;
}

a.cp_cl:link , a.cp_cl:visited {
color: #FFFFFD;
}
a.cp_cl:hover, a.cp_cl:active {
color: #cccccc;
}
.cp_cl {
background:  url('./images/cp_center.png') repeat-x right 0%;
border-right: 1px solid #309B27;
color: #404040;
font-weight: bold;
float:left;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
}
.cp_cl:hover {
background:  url('./images/cp_center.png') repeat-x right 100%;
border-right: 1px solid #309B27;
color: #cdcdcd;
font-weight: bold;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
text-decoration: none;
}


a.cp_cl_drop:link , a.cp_cl_drop:visited {
color: #FFFFFD;
}
a.cp_cl_drop:hover, a.cp_cl_drop:active {
color: #cccccc;
}
.cp_cl_drop {
background:  url('./images/cp_drop.png') repeat-x right 0%;
border-right: 1px solid #309B27;
color: #404040;
font-weight: bold;
float:left;
text-align: center;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 23px 7px 20px;
}
.cp_cl_drop:hover {
background:  url('./images/cp_drop.png') repeat-x right 100%;
border-right: 1px solid #38B32D;
color: #FF0000;
font-weight: bold;
text-align: center;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 23px 7px 20px;
text-decoration: none;
}

a.cp_cr:link , a.cp_cr:visited {
color: #FFFFFD;
}
a.cp_cr:hover, a.cp_cr:active {
color: #cccccc;
}
.cp_cr {
background:  url('./images/cp_center.png') repeat-x right 0%;
border-left: 1px solid #309B27;
color: #CFF0CC;
font-weight: bold;
float: right;
text-align: right;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 13px 7px 13px;
display: inline;
}

.cp_cr:hover {
background:  url('./images/cp_center.png') repeat-x right 100% ;
border-left: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 13px 7px 13px;
text-decoration: none;
}

.cp_cl {
background:  url('./images/cp_center.png') repeat-x right 0%;
border-right: 1px solid #309B27;
color: #CFF0CC;
font-weight: bold;
float: left;
text-align: right;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 13px 7px 13px;
display: inline;
}

.cp_cl:hover {
background:  url('./images/cp_center.png') repeat-x right 100% ;
border-right: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: left;
text-align: center;
margin: 0 0 0 0;
font-size: 10px;
padding: 5px 13px 7px 13px;
text-decoration: none;
}



a.cp_admin:link , a.cp_admin:visited {
color: #FFFFFD;
}
a.cp_admin:hover, a.cp_admin:active {
color: #cccccc;
}
.cp_admin {
background:  url('./images/cp_admin.png') repeat-x right 0%;
border-left: 1px solid #309B27;
color: #CFF0CC;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
}

.cp_admin:hover {
background:  url('./images/cp_admin.png') repeat-x right 100% ;
border-left: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
text-decoration: none;
}

a.cp_mod:link , a.cp_mod:visited {
color: #FFFFFD;
}
a.cp_mod:hover, a.cp_mod:active {
color: #cccccc;
}
.cp_mod {
background:  url('./images/cp_mod.png') repeat-x right 0%;
border-left: 1px solid #309B27;
color: #CFF0CC;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
}

.cp_mod:hover {
background:  url('./images/cp_mod.png') repeat-x right 100% ;
border-left: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 10px;
padding: 5px 12px 7px 15px;
text-decoration: none;
}
.cp_center {
background: url('./images/cp_right.png') repeat-x left top;
border-top: 1px solid #350000;
width: 100%;
height: 24px;
font-weight: bold;
font-size: 10px;
text-align: left;
vertical-align: top;
white-space: nowrap;
overflow: hidden;
padding: 0px;
margin:0px;
}

.cp_title {
color: #CFF0CC;
margin: 0;
padding: 0;

}
.cp_left {
background: url('./images/cp_left.png') no-repeat top left;
padding-left: 16px;
}
.cp_right {
background: url('./images/cp_right.png') no-repeat top right;
padding-right: 16px;
}

/* You have the right to customize this skin as you want as the credits remain in place.
DO NOT REMOVE CREDITS!!!!!!!!!
http://www.phpbb-skin.info/skinlab
Alpha Trion
*/

a.top_bar_button_left:link , a.top_bar_button_left:visited { color: #309B27; }
a.top_bar_button_left:hover, a.top_bar_button_left:active { color: #B01616; }

.top_bar_button_left {
background:  url('./images/top_left.png') no-repeat right 0%;
border-right: 1px solid #309B27;
color: #309B27;
font-weight: bold;
float: left;
text-align: center;
margin: -6px 0px 0px 0px;
font-size: 12px;
padding: 5px 12px 7px 15px;
}

.top_bar_button_left:hover {
background:  url('./images/top_left.png') no-repeat right 100%;
border-right: 1px solid #309B27;
color: #FFFFFD;
font-weight: bold;
float: left;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 12px 7px 15px;
text-decoration: none;
}

a.top_bar_button_right:link , a.top_bar_button_right:visited { color: #309B27; }
a.top_bar_button_right:hover, a.top_bar_button_right:active { color: #B01616; }
.top_bar_button_right {
background:  url('./images/top_right.png') repeat-x left 0%;
border-left: 1px solid #309B27;
color: #309B27;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
}

.top_bar_button_right:hover {
background:  url('./images/top_right.png') repeat-x left 100%;
border-right: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 15px;
text-decoration: none;
}

a.top_bar_button_cl:link , a.top_bar_button_cl:visited { color: #309B27; }
a.top_bar_button_cl:hover, a.top_bar_button_cl:active { color: #B01616; }
.top_bar_button_cl {
background:  url('./images/top_center_left.png') repeat-x right 0%;
color: #404040;
font-weight: bold;
float:left;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
}
.top_bar_button_cl:hover {
background:  url('./images/top_center_left.png') repeat-x right 100%;
color: #cdcdcd;
font-weight: bold;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
text-decoration: none;
}

a.top_bar_button_cr:link , a.top_bar_button_cr:visited { color: #309B27; }
a.top_bar_button_cr:hover, a.top_bar_button_cr:active { color: #B01616; }
.top_bar_button_cr {
background:  url('./images/top_center_right.png') no-repeat left 0%;
border-left: 1px solid #309B27;
color: #309B27;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
}

.top_bar_button_cr:hover {
background:  url('./images/top_center_right.png') no-repeat left 100% ;
border-left: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
text-decoration: none;
}
/*-------------------- RIGHT RED-------------------------*/
a.top_bar_button_cr_red:link , a.top_bar_button_cr_red:visited {
color: #940000;
}
a.top_bar_button_cr_red:hover, a.top_bar_button_cr_red:active {
color: #ff0000;
}
.top_bar_button_cr_red {
background:  url('./images/top_center_right.png') repeat-x left 0%;
border-left: 1px solid #309B27;
color: #309B27;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
}

.top_bar_button_cr_red:hover {
background:  url('./images/top_center_right.png') repeat-x left 100% ;
border-left: 1px solid #38B32D;
color: #cdcdcd;
font-weight: bold;
float: right;
text-align: center;
margin: 0px 0px 0px 0px;
font-size: 12px;
padding: 5px 11px 7px 16px;
text-decoration: none;
}


/*---------------------------------------------------------------------------------------------*/
.top_center {
background: url('./images/bg_top_repeat.png') repeat-x left top;
border-top: 1px solid #309B27;
border-bottom: 1px solid #350000;
width: 100%;
height: 26px;
font-weight: bold;
font-size: 1.3em;
text-align: center;
vertical-align: top;
white-space: nowrap;
overflow: hidden;
padding: 0px;
margin:0px;
}

.top_title {
color: #309B27;
margin: 0;
padding: 0;

}

.h5 {
font-weight: bold;
float: left;
text-align: center;
font-size: 10px;
text-decoration: none;
margin:0;
padding:0;
}