/* ------------------------ Stargate Portal ------------------------ */

.smallimage {
	width:25px; 
	height:25px; 
	float:left;
	margin: 0;
	margin-bottom:5px;
	/*position:relative;*/
}
.whos_online {
	text-align:left;
	position:relative;
	padding: 3px;
}
.row3 {
	padding: 0px;
	margin: 0;
	font-size:10px;
	line-height: 180%;
}
.cal_today {
	color:#DC06B8;
	font-weight: bold;
}
.cal_birthday {
	color:#FF8000;
	font-weight: bold;
}
.cal_event {
	color:#FF0000;
	font-weight: bold;
}

span.corners-top-news, span.corners-bottom-news, span.corners-top-news span, span.corners-bottom-news span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top-news {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top-news span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom-news {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom-news span {
	background-image: none;
	background-position: 100% 100%;
}

span.corners-top-news {
	background-image: url("./images/corners_left_news.png");
}

span.corners-top-news span {
	background-image: url("./images/corners_right_news.png");
}

span.corners-bottom-news {
	background-image: url("./images/corners_left_news.png");
}

span.corners-bottom-news span {
	background-image: url("./images/corners_right_news.png");
}

.k_quick {
/*width:60%;*/
	padding: 0 5px;
	margin-bottom: 4px;
	background-color: #121212;
	border: solid 1px #000000;
}

.profile {
	/*border:1px solid; border-color:#008CCe #005F8C #005F8C #008CCe;*/
	margin:2px;padding:5px;
}
postdetails {
	border:1px solid; border-color:#008CCe #005F8C #005F8C #008CCe;margin:2px;padding:5px;
}

.highlight
{
	border:1px solid; border-color:#008CCe #005F8C #005F8C #008CCe;margin:1px;padding:1px;
}


.headerx  { color:#D6C7C7; background: url(images/box/boxnavt.gif) repeat-x; padding-left:5px; }
.headerx a { font-weight:bold; text-decoration: none; color: #D6C7C7; }
.headerx a:visited, a:active { text-decoration: none; color:#D6C7C7; }
.headerx a:hover { text-decoration: none; color:#CE0000; }

.bbb-bold, .bbb-bold a					{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-bold.gif"); width:22px; height:22px; }
.bbb-bold:hover							{ background-position: 0px -23px;}
.bbb-quote, .bbb-italic, .bbb-italic a	{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-italic.gif");  width:22px; height:22px;}
.bbb-italic:hover						{ background-position: 0px -23px;}
.bbb-quote, .bbb-quote a				{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-quote.gif");   width:22px; height:22px;}
.bbb-quote:hover						{ background-position: 0px -23px;}
.bbb-code, .bbb-code a					{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-code.gif");    width:22px; height:22px;}
.bbb-code:hover							{ background-position: 0px -23px;}
.bbb-list, .bbb-list a					{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-list.gif");    width:22px; height:22px;}
.bbb-list:hover							{ background-position: 0px -23px;}
.bbb-flash, .bbb-flash a				{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-flash.gif");   width:22px; height:22px;}
.bbb-flash:hover						{ background-position: 0px -23px;}
.bbb-image, .bbb-image a				{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-image.gif");   width:22px; height:22px;}
.bbb-image:hover						{ background-position: 0px -23px;}
.bbb-url, .bbb-url a					{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-url.gif");     width:22px; height:22px;}
.bbb-url:hover							{ background-position: 0px -23px;}
.bbb-under_line, .bbb-under_line a       { border:none; background-image: url("./../../../images/bbcode/bbb-icon-under_line.gif");    width:22px; height:22px;}
.bbb-under_line:hover                    { background-position: 0px -23px;}
.bbb-align_center, .bbb-align_center a   { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_center.gif");  width:22px; height:22px;}
.bbb-align_center:hover                  { background-position: 0px -23px;}
.bbb-align_left, .bbb-align_left a       { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_left.gif");  width:22px; height:22px;}
.bbb-align_left:hover                    { background-position: 0px -23px;}
.bbb-align_right, .bbb-align_right a     { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_right.gif");  width:22px; height:22px;}
.bbb-align_right:hover                   { background-position: 0px -23px;}
.bbb-ordered_list, .bbb-ordered_list a   { border:none; background-image: url("./../../../images/bbcode/bbb-icon-ordered_list.gif");  width:22px; height:22px;}
.bbb-ordered_list:hover                  { background-position: 0px -23px;}
.bbb-add_list_item, .bbb-add_list_item a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-add_list_item.gif"); width:22px; height:22px;}
.bbb-add_list_item:hover                 { background-position: 0px -23px;}
.bbb-note, .bbb-note a        { border:none; background-image: url("./../../../images/bbcode/bbb-icon-note.gif");    width:22px; height:22px;}
.bbb-note:hover               { background-position: 0px -23px;}
.bbb-spoiler, .bbb-spoiler a  { border:none; background-image: url("./../../../images/bbcode/bbb-icon-spoiler.gif"); width:22px; height:22px;}
.bbb-spoiler:hover            { background-position: 0px -23px;}
.bbb-tab, .bbb-tab a          { border:none; background-image: url("./../../../images/bbcode/bbb-icon-tab.gif");     width:22px; height:22px;}
.bbb-tab:hover                { background-position: 0px -23px;}
.bbb-sup, .bbb-sup a          { border:none; background-image: url("./../../../images/bbcode/bbb-icon-sup.gif");     width:22px; height:22px;}
.bbb-sup:hover                { background-position: 0px -23px;}
.bbb-sub, .bbb-sub a          { border:none; background-image: url("./../../../images/bbcode/bbb-icon-sub.gif");     width:22px; height:22px;}
.bbb-sub:hover                { background-position: 0px -23px;}
.bbb-strike, .bbb-strike a    { border:none; background-image: url("./../../../images/bbcode/bbb-icon-strike.gif");  width:22px; height:22px;}
.bbb-strike:hover             { background-position: 0px -23px;}
.bbb-link, .bbb-link a        { border:none; background-image: url("./../../../images/bbcode/bbb-icon-link.gif");    width:22px; height:22px;}
.bbb-link:hover               { background-position: 0px -23px;}
.rollover, .rollover a { display:inline; float:left; } .rollover a:hover { background-position: 0 -23px; }
.bbb-icon-spacer {border:none; background-image: url("./../../../images/bbcode/bbb-icon-spacer.gif"); width:3px; height:22px;}


/* Main message box */
#message-box { width: 80%; }

#message-box textarea {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	width: 100%;
	font-size: 1.2em;
	color: #B0B0B0;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
}

#smiley-box img {
	margin: 3px;
}
/* Main message box */
#message-box {
	width: 80%;
}

table.legend {
text-align:center;
}

.bottom  { border:none; color:#D6C7C7; background: url(images/cellpic3.gif) repeat-x; height:1px; border-bottom:solid 1px; border-color:#BBBBBB; }
.bottomx  { background:#484802; color:#D6C7C7; background: url(images/box/boxnavt2.gif) repeat-x; height:6px; border:none;}

/*
table.box{
	border-top: solid 1px #BBBBBB;
	border-left: solid 1px #BBBBBB;
	border-right: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	overflow: hidden;
	margin-bottom: 13px;
}
*/

table.boxfull{
	border: solid 1px #BBBBBB;
}


.showhide {
	float: right; margin-top: -14px; margin-right: 0px;
}


/*   new and announcements blocks */
table.news {
	width:100%;
	border:solid 1px;
	border:none;
}
table.announce {
	width:100%;
	border:none;
}

/* news and announcements */
.news { width:100%; text-align:left; padding:5px;}
.news_body { width:100%; text-align:left; padding-top: 5px; padding-bottom: 10px; float:left; }
.news img {text-align:center;}

.centre_block, .mynews, .myannounce {
	text-align:center;
	background: #3A5045 none repeat-x 0 0;
	margin-bottom: 4px; 
	padding: 0 5px 0 5px;
	clear: both;
	font-size:11px;
	margin-left:6px;
	margin-right:6px;
}

.news_title {
  color:lightgray;
  font-weight: bold;
  float:left;
  text-align:left; 
  width:40%;
}
.news_poll {
 text-align:center; 
 width:20%; 
}
.news_poster {
 float:left;
 text-align:left;
 width:40%; 
}
.news_time {
 color:lightgray;
 font-weight: bold;
 float:right;
 text-align:right;
 width:40%;
 padding-top:5px;
 padding-bottom:5px;
}
.news_comments {
 float:left;
 text-align:center; 
 width:20%;
}
.news_reply {
color:gray;
float:left;
text-align:right; 
width:40%; 
}
.news_image {
 float:right;
 text-align:right;
 width:50px;
 padding-top:25px;
 padding-right:15px;
}




.forum_icons {
	float:left;
	padding-right:10px;
/*	position:absolute; left: 30px top: -10px;*/
	position:relative; left: 5px; top: -20px;
}



.unresolved {
  padding:5px;
  padding-left: 12px;
  padding-right: 12px;
}

.spacer {
	background-image: url("images/spacer.gif"); width:10px; height:1px;
}

.imageline { width:auto; height:auto; border:none; float:left; padding-top: 5px;}
.imageline_hidden { width:auto; height:auto; border:none; float:left; padding-top: 5px; }

/* fix for ie in search 10 February 2008 */
input.full		{ width: 99%; }

.nav_menu {	font-size:1.1em; font-weight: normal;}
.sub_heading {
	color: #26921C;
	font-size:12px;
	font-family: Comic Sans MS, Sans-Serif;
	font-weight: bold;
	padding-top:2px;
}
.menu_item {
	padding-left:8px;
}
.direction {
	border:none; padding:0px; background: #FF0 url(images/scroll_arrows.gif) repeat-x; height: 16px;
}

.handle{cursor: move;}

.block_head {
	color: #FFA34F;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #006699;
	background-image: url('./images/cellpic3.gif');
	height:25px;
	white-space: nowrap;
	padding:2px;
}

.whos_online {
	text-align:left;
	position:relative;
	padding: 3px;
}

/* scroll */
div.scroll_outer {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

div.scroll_inner {
    position: absolute;
    z-index: 2;
	height:auto;
	width:100%;
}

/*** sdMenu ***/
div.sdmenu div {
   overflow: hidden;
   font-weight: bold;
   width:100%;
}
div.sdmenu div.collapsed {
   height: 18px;
}

div.sdmenu span {
   display: block;
   padding: 2px 6px;
   cursor: default;
}

.sub_heading {
	color: #26921C;
	font-size:12px;
	font-family: Comic Sans MS, Sans-Serif;
	font-weight: bold;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;
}

/* NeXur's bable translation block */
.translate_head {
/*	background-color: #313131;*/
	text-align:center;
	color: #5AEB00;
	padding:5px;
}

.translate_reset {
 text-align:center;
 padding-top:5px;
}

div.trans div a.current {
	background : #ccc;
}
div.trans div a:hover {
	background : #ECECEC url("images/linkarrow.gif") no-repeat right center;
	color: #DE1717;
	text-decoration: none;
}
div.trans div a {
	width:100%; /* IE FIX */ 
	padding:2px;
	display: block;
	color: #F5F5F5;
}

/* Chat additions */
/* Icon images
 ---------------------------------------- */
.rtl .icon_chat {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}
/* Icon images
 ---------------------------------------- */
.icon-chat {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}
/* Icon images
 ---------------------------------------- */
.icon-chat	{ background-image: url("images/icon_chat.gif"); 
}

/* END */


/* set some colours */
.orange
{
	color: #FFC000;
	font-weight: bold;
}
.green
{
	color:#008000;
	font-weight: bold;
}
.red
{
	color:#FF0000;
	font-weight: bold;
}
.gray 
{
	color:#BABABA;
	font-weight: bold;
}

#container {width: 100%; background: #eee; margin: 0 auto; text-align: left; }

/* Table header */
caption { 
	margin: 0; 
	padding: 0;
	background: url(images/blocks/2.png) top left repeat-x;
	white-space: nowrap;
	height: 22px;
	text-align: left;
}
.cap-left {
	background: url(images/blocks/1.png) top left no-repeat;
	padding-left: 25px;
}
.cap-left-wide {
	background: url(images/blocks/1w.png) top left no-repeat;
	padding-left: 72px;
}
.cap-right {
	background: url(images/blocks/3.png) top right no-repeat;
	padding-top: 6px;
	height: 22px;
}
.cap-right-wide {
	background: url(images/blocks/3w.png) top right no-repeat;
	padding-top: 6px;
	height: 22px;
}
.cap-right-wide_no {
	background: url(images/blocks/cat_t_right_no.gif) top right no-repeat;
	padding-top: 6px;
	height: 22px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span { 
	font-size: 12px;
	line-height: 1.2em;
	font-weight: bold;
	color: #5AEB00;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	text-align:left;
}
caption h1, caption h2, caption h3, caption h4, caption span { 
	display: inline;
}
caption a, caption a:visited {
	color: #5AEB00;
	text-decoration: underline;
}
caption a:hover {
	color: #D11010;
	text-decoration: underline;
}


/* code with lines Mike */
.codecontent {
	overflow: auto;
	display: block;
	height: auto;
	width:auto;
	max-height: 300px;
	white-space: normal;
}

.poll_question{
	font-size:12px;
	font-weight:bold;
	color:#105289;
	padding-bottom:4px;
}

.newscat {
	color:#C6C0B7;
	text-align:left;
	background-image: url("images/newscat.gif");
	border: solid 1px #5C6996; /*#F80000;*/
	border-right:none;
	border-bottom:none;
	padding:3px;
	padding-left: 10px;
	font-size: .95em;
	font-weight: bold;
	width:auto;
}
.newscat2 {
	color:#C6C0B7;
	text-align:left;
	background-image: url("images/newscat2.gif");
	border: solid 1px #A00404; /*#F80000;*/
	border-right:none;
	border-bottom:none;
	padding:3px;
	padding-left: 10px;
	font-size: .95em;
	font-weight: bold;
	width:auto;
}

.newscatimg		{ float:right; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px;}
.newscatimg2	{ float:right; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px;}

.mini_nav img { text-align:right; float:left; padding:0; }

acronym{
  font-style:italic;
  font-weight:bold;
  border-bottom:1px #BD5121 dashed ;
  color:#459B37;
  cursor: help;
}
.row3 {
	
	font-size:11px;
}

.unread_bug {
	color: #D31141;
	font-weight: bold;
}
.unread_bug {
	color: #D31141;
	font-weight: bold;
}
.bugs_box {
	background-color: #010101;
	border: solid 1px #F80000;
	border-top:none;
	border-bottom:none;
}
.bugs_block_body {
	background-color: #010101;
	width:100%;
}

div.details {
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	text-transform: uppercase;
	color: #115098;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

td.row1:hover {
	background-color: #ECECEC;
/*	background: #ECECEC url(images/cellover.gif) top left repeat-x;*//***/
	text-decoration: none; 
}
td.row2:hover {
	background-color: #ECECEC;;
/*	background: #ECECEC url(images/cellover.gif) top left repeat-x;*//***/
	text-decoration: none; 
}

table.legend {
text-align:center;
}

.bottom  { border:none; color:#D6C7C7; background: url(images/cellpic3.gif) repeat-x; height:1px; border-bottom:solid 1px; border-color:#BBBBBB; }
.bottomx  { background:#484802; color:#D6C7C7; background: url(images/box/boxnavt2.gif) repeat-x; height:6px; border:none;}

table.tbox{
	border-top: solid 1px #BBBBBB;
	border-left: solid 1px #BBBBBB;
	border-right: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	overflow: hidden;
	margin-bottom: 13px;
}

table.boxfull{
	border: solid 1px #BBBBBB;
}

span.corners-top-news, span.corners-bottom-news, span.corners-top-news span, span.corners-bottom-news span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top-news {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top-news span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom-news {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom-news span {
	background-image: none;;
	background-position: 100% 100%;
}

span.corners-top-news {
	background-image: url("./images/corners_left_news.png");
}

span.corners-top-news span {
	background-image: url("./images/corners_right_news.png");
}

span.corners-bottom-news {
	background-image: url("./images/corners_left_news.png");
}

span.corners-bottom-news span {
	background-image: url("./images/corners_right_news.png");
}

.block_shadow1 {
/*
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/blocks/shadow1.gif');
 background-repeat:no-repeat;
 width:25px;
 height:9px;
 float:left;
 background-color: #FFF;
 */
}
.block_shadow2 {
/*
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/blocks/shadow2.gif');
 background-repeat:repeat-x;
 width:auto;
 height:9px;
 float:left;
 background-color: #FFF;
 */
}
.block_shadow3 {
/*
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/blocks/shadow3.gif');
 background-repeat:no-repeat;
 width:25px;
 height:9px;
 float:left;
 background-color: #FFF;
 */
}
.smallimage {
	width:30px; 
	height:30px; 
	float:left;
	margin:0;
	margin-bottom:5px;
}

.menu-left {
	background: #ff0 url("images/menu_t_left.gif") no-repeat 0 0;
  height: 25px;
	width: 12px;
	float: left;
}

.menu-right {
background: #ff0 url("images/menu_t_right.gif") no-repeat 100% 0;
height: 25px;
width: 12px;
float: right;
border:none;
}
.menu2 {
border-left:none;
border-right:none;
}

/* OPTIONS */

/***
.postprofile
{
	text-align:center;
}

***/

.news li, ol, ul {
	margin: 0 0 0 1.5em;
}
.rtl .mews li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.dt, icon {background-position: 100% 50%;}

.navbar {
	background: #323436 url("./images/navbar2.gif") repeat-x 0 0;
	border: solid 1px #000000;
	border-top: none;
/*	border-bottom: none;*/
}


.outer-cat {
background: #ccc url("./images/blocks/cat-center-bg.gif") repeat-x 0 0;
height: 23px;
margin: 0;
padding: 0;
}
.cat-left {
background: #ccc url("./images/blocks/cat-left-bg.gif") no-repeat 0 0;
height: 23px;
width: 75px;
float: left;
}
.cat-right {
background: #ccc url("./images/blocks/cat-right-bg.gif") no-repeat 100% 0;
height: 23px;
width: 38px;
float: right;		
}
.menu2 {padding:0 0 0 0px; margin:0; list-style:none; height:25px; background:#ff0 url('./images/blocks/button1.gif'); position:relative; border:0px solid #000; border-width:0 0px; }

.head-left {
background: #ccc url("./images/blocks/head-left-bg.gif") no-repeat 0 0;
height: 25px;
width: 58px;
float: left;
}

.head-text {
height: 25px;
float: left;
padding-left: 15px;
color: #333;
font-weight: bold;	
}

.head-right {
background: #ccc url("./images/blocks/head-right-bg.gif") no-repeat 100% 0;
height: 25px;
width: 58px;
float: right;		
}

.random_header_image img { width:100%; height:150px;}

a.arrange:link, a.arrange:visited { color : #FFFFFD; }
a.arrange:hover, a.arrange:active { color : #cccccc; }


.random_header_image img { width:100%; height:150px;}
h4 {color:#5AEB00;}

.bg1	{ background-color: #3B3D3E; }
.bg2	{ background-color: #3B3D3E; }
.bg3	{ background-color: #3B3D3E; }
.bg3a { background-color: #363F4D; }
.bg1a { background-color: #4C4F51; }
.bg2a { background-color: #383838; }

.news_box {
   float: right; padding:0; width: 190px; height: 40px; margin-top: 1px; margin-right: 10px;
}
.announce_box {
   float: right; padding:0; width: 200px; height: 40px; margin-top: 1px; margin-right: 10px;
}

.bsw_b_img { 
	float:left;
	width:33px;
	height:33px;
	margin:10px;
	margin-bottom:0;
	background: url(images/birthday.gif) top left no-repeat;
}
.bsw_s_img { 
	float:left;
	width:33px;
	height:33px;
	margin:10px;
	margin-bottom:0;
	background: url(images/stats.gif) top left no-repeat;
}
.bsw_w_img { 
	float:left;
	width:33px;
	height:33px;
	margin:10px;
	margin-bottom:0;
	background: url(images/whosonline.gif) top left no-repeat;
}

.bsw_content { 
	margin-left:50px;
	padding:5px;
	border-left: solid 1px #404040;
	background-color:#313131;
	min-height:40px;
}
/***
.box {
	margin-top:-2px;
	margin-bottom:-1px;
}
***/
.loginform { margin-top: -15px; }




#datebar {
	background-color: #FF0000;
}

#wrapheader {
	min-height: 120px;
	min-width: 845px;
	height: auto !important;
	width: auto;
	margin: 0 auto 0 auto;
	padding-top:10px;
}

#wrapcentre {
	width:90%;
	margin: 0 auto 0 auto;
	padding: 0 10px 0 10px;
	background-color: #FF0000;
}

#wrapfooter {
	text-align: center;
	clear: both;
}




.black {
	background-color: #191919;
}


td.header-1 { 
background-image: url(images/head-1.png); 
background-repeat: no-repeat; 
height:191px; width:332px; 
padding:0; 
text-align:left;
background-position: left bottom;
}
td.header-2 { 
background-image: url(images/head-2.png); 
background-repeat: repeat-x; 
height:191px;
width: auto;
background-position: center bottom;
}
td.header-3 { 
background-image: url(images/head-3.png); 
background-repeat: no-repeat; 
height:187px; width:328px; 
background-position: right bottom;
}


.footer_left	{ 
background-image: url(images/footer_left.gif);
background-repeat: no-repeat; 
height: 35px; 
width:10px; 
background-position: left top;
padding-right:7px;
}
.footer_center	{ 
background: url(images/footer_center.gif);
background-repeat: repeat-x; 
height: 35px;
width: 100%;
background-position: center top;
}
.footer_right	{ 
background: url("images/footer_right.gif");
background-repeat: no-repeat; 
height: 35px;
width:10px;
background-position: right top;
padding-left:7px;
}


.row1 {
	background-color: #3B3D3E;
	padding: 4px;
}

.row2 {
	background-color: #3B3D3E;
	padding: 4px;
}

.row3 {
	background-color: #3B3D3E;
	padding: 4px;
}


.tablebg {
/*	background-color: #FFFFFD;*/
	border-top: solid 1px #BBBBBB;
	border-left: solid 1px #BBBBBB;
	border-right: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
}



#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #262626;
}






.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }

/*  Text
 --------------------- */
h1 {
	color: gray;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

h4 a:visited, h4 a:hover, h4 a:link {
	color: #FFFFFD;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0;
	float: left;
	color: gray;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: gray;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #78A117;
}

.postdetails {
	color: #CCC;
}

.postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: gray;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	font-size : 10px;
/*	color: #484802;*/
}

.gensmall2 {
	font-size : 10px;
	color: #FFFFFD;
}

.copyright {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


.catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat;
}

.cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
	color: #FFFFFD;
}

.cat a:link, .cat a:visited, .cat:hover {
	color: #FFFFFD;
}


/* Links
 ------------ */
a:link,
a:active,
a:visited {
	color: #78A117;
	font-weight: bold;
	text-decoration:none
}

a:hover {
	color:#FFFFFE;
}

a.forumlink {
	color: #3F3F3F;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #B0B0B0;
	text-decoration: none;
}

a.topictitle:hover {
	color: #FFFFFE;
}

th a:link,
th a:active,
th a:visited {
	color: #FBFBFB !important;
	text-decoration: none;
}

th a:hover {
	color: #FF0000;
	text-decoration: underline;
}

th {
	color: #FFFFFD;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #006699;
	background-image: url('./images/cellpic3.gif');
	height:22px;
	white-space: nowrap;
}

/* Block Classes */

.block_header a { 
	color: #944406;
	text-decoration: none;
}
.block_header a:hover { 
	color:#FFC000; 
	text-decoration: none; 
}
.block_header a:link {
	color: #944406;
	text-decoration: none;
}

.block_header {
text-align:left; color:#F0FADC; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:1em; text-transform: uppercase; line-height:135%;
padding-left:3px; padding-bottom:2px;
position:relative;
}

.block_bg {
	background-color: #000000;
	background-image: url("./images/hdr_mid.gif");
	background-repeat: repeat-x;	
	margin-bottom: 10px;				
	clear: both;
}

.block_bg {
background-color: #1C1C1C;
background-image: url("./images/bg_list.gif");
background-repeat: repeat-x;
margin-bottom: 10px;/*? set gap between blocks at bottom ?*/
padding: 0 5px 0 5px;/*? padd area inside, note setting to 1 will produce square corners, max is 5px ?*/
clear: both;
border: solid 1px #000000;
border-top: none;
}

.block_data {
padding-bottom:5px;
float:left;
width:100%;
list-style-type: none;
background-color: #000000;
background-image: url('./images/cell_tall.png');
background-repeat:repeat;
clear:both;
}
.box {
text-align:left;
padding: 1px 1px 1px 1px;
overflow: hidden;
width: auto;
clear: both;
background-color: #373F37;
margin: 10px 1px 1px 1px; 
border: solid 1px #000000;
margin-top:5px;
padding: 5px;
background-image: url('./images/cell_tall.png');
background-repeat:repeat;

}
 html>body .box
{
	width: auto;
}

/*****************************************************/



/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #F6FCE8; /* FFE6D0 */
	background-image: url('./images/back.gif');
	font-size: 62.5%;
	margin: 0;
	background-repeat: repeat;
	background-attachment: fixed;
}

#body-simple {
	background: #191919;
	padding: 5px;
}

/* Misc stuff */
img {
	border: none;
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error, table td .error {
	color: #F0E40A;
}

.spacer {
	background: #4D864A url(images/th.gif) top left repeat-x;
}



div.hr {
  height: 15px;
  background: url('./images/hr1.gif') no-repeat scroll center;
  padding-top:2px;
}
div.hr hr {
  display: none;
}

.hr_dashed {
border-top: 1px dashed #008;
color:#008000;
}

hr	{ height: 0px; border: solid #78A117 0px; border-top-width: 1px;}

.pagination {
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
}


/* Header and logo */
#maintable {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #000;
	margin: 0 auto;
}
#logorow {
	background: url(images/logo_bg.gif) top left repeat-x;
	text-align: center;
	padding: 0;
}

#logo-left {
	background: url(images/logo_left.jpg) top left no-repeat;
}
#logo-right {
	background: url(images/logo_right.jpg) top right no-repeat;
}

#logorow, #logo-left {
	height: 88px;
	overflow: hidden;
}

.pm-notify-new, .pm-notify-unread {
	border-left: solid 1px #3FC531;
	border-right: solid 1px #78A117;
	border-top: solid 1px #3FC531;
	border-bottom: solid 1px #78A117;
	background: #313131 url(images/cell.gif) top left repeat-x;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.pm-notify-new a, .pm-notify-new a:visited, .pm-notify-unread a, .pm-notify-unread a:visited { text-decoration: underline; }
.pm-notify-header {
	margin-bottom: 10px;
	color: #CCC;
}
.pm-notify-new, .pm-notify-unread:hover {
	border-left: solid 1px #FCF236;
	border-right: solid 1px #F0E40A;
	border-top: solid 1px #FCF236;
	border-bottom: solid 1px #F0E40A;
}
.pm-notify-new { padding: 30px; }


/* Navigation buttons */
.navrow {
	background: #47C63B url(images/buttons.gif) top left repeat-x; 
	height: 21px;
	overflow: hidden;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
	color: #F0E40A;
	text-align: center;
	font-size: 11px;
	padding: 4px;
}
* html .navrow { padding: 0; }
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #FFF;
	text-decoration: none;
}
.navrow a:hover { 
	color: #F0E40A; 
	text-decoration: underline; 
}

a.link-new, a.link-new:visited { color: #F0E40A; }
a.link-new:hover, a.link-new:visited:hover { color: #FFF; }

/* Navigation buttons */
.navrow {
	background: #47C63B url(images/buttons.gif) top left repeat-x; 
	height: 21px;
	overflow: hidden;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
	color: #F0E40A;
	text-align: center;
	font-size: 11px;
	padding: 4px;
}
* html .navrow { padding: 0; }
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #FFF;
	text-decoration: none;
}
.navrow a:hover { 
	color: #F0E40A; 
	text-decoration: underline; 
}

a.link-new, a.link-new:visited { color: #F0E40A; }
a.link-new:hover, a.link-new:visited:hover { color: #FFF; }

/* Content and tables */
#contentrow {
	padding: 5px 10px;
/*	padding: 5px;*/
	background-color: #191919;
}

.tablebg {
	border: solid 1px #000; 
	background: #313131 url(images/cell.gif) top left repeat-x;
}

.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom {
	border-left: solid 1px #404040;
	border-right: solid 1px #4C4F51;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131 url(images/cell.gif) top left repeat-x;
	padding: 4px;
}
th {
	color: #CFF0CC; 
	font-size: 11px; 
	font-weight: bold;
	background: #4D864A url(images/th.gif) top left repeat-x;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	border-left: solid 1px #3DC231;
	border-right: solid 1px #1F7D16;
	border-top: solid 1px #45C339;
	border-bottom: solid 1px #1F7D16;
}
th a, th a:visited {
	color: #CFF0CC !important;
	text-decoration: underline;
}
th a:hover {
	color: #FFF;
	text-decoration: underline;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.catdiv {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #4C4F51;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}
.rtl .catdiv {
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}

.cat {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #4C4F51;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
	text-indent: 4px;
}
.cathead {
	background: #309A26 url(images/catbottom.gif) top left repeat-x;
	height: 24px;
	padding: 1px 3px;
	border-left: solid 1px #3DC231;
	border-right: solid 1px #1F7D16;
	border-top: solid 1px #45C339;
	border-bottom: solid 1px #1F7D16;
}




/* Table header */
caption { 
	margin: 0; 
	padding: 0;
	background: url(images/hdr_mid.gif) top left repeat-x;
	white-space: nowrap;
	height: 27px;
	text-align: center;
}
.cap-left {
	background: url(images/hdr_left.gif) top left no-repeat;
}
.cap-right {
	background: url(images/hdr_right.gif) top right no-repeat;
	padding-top: 8px;
	height: 19px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span { 
	font-size: 12px;
	font-weight: bold;
	color: #D03632;
}
caption h1, caption h2, caption h3, caption h4, caption span { 
	display: inline;
}
caption a, caption a:visited {
	color: #D03632;
	text-decoration: underline;
}
caption a:hover {
	color: #D0D0D0;
	text-decoration: underline;
}


/* Footer */
#wrapfooter {
	text-align: center;
	color: #CCC;
	padding-top: 11px;
}

.copyright {
	color: #248A1A;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.2em;
}
.copyright a, .copyright a:visited {
	color: #AAA;
	text-decoration: none;
}
.copyright a:hover { color: #FFF; }







/* Form Elements
 ------------ */
form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

textarea, select, .post, .btnbbcode, .btnmain, .btnlite, .btnfile, .helpline {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	border: solid 1px #000000; /*78A117;*/
	background-color: #101000;
	color: #848484;
}

input {
	font-size: 1.1em;
	padding: 1px;
}
textarea {
	font-size: 1.3em; 
	line-height: 1.4em;
	padding: 2px;
}
select {
	font-size: 1.1em;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

.post {
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	font-size: 1.1em;
	border: 1px solid #444;
}
.btnbbcode:hover {
	border-color: #999;
	color: #FFF;
}

.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: transparent;
	color: #AAA;
	border-style: none;
}
#helpline { color: #AAA; }

* html textarea, * html select, * html .post, * html .btnmain, * html .btnlite, * html .btnfile {
	border-color: #49630D;
}
/*
textarea:hover, select:hover, .post:hover, .btnmain:hover, .btnlite:hover, .btnfile:hover {
	border-color: #49630D;
}
textarea:focus, select:focus, .post:focus, .btnmain:focus, .btnlite:focus, .btnfile:focus {
	border-color: #F0E40A; 
	color: #FFF;
}
*/
label:hover { 
	color: #F0E40A; 
}

/* BBCode
 ------------ */
.quotetitle, .attachtitle, .codetitle {
	margin: 10px 5px 0px 5px;
	padding: 2px 4px;
	border: solid 1px #090909;
	color: #D0D0D0;
	background-color: #2E2E2E;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	background-color: #2E2E2E;
	color: #EEE;

}

.attachcontent {
	font-size: 0.85em;
}

.codecontent {
	direction: ltr;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #2E2E2E;
	color: #EEE;
}
.attachbox
{
	clear: both;
	margin: 10px 5px;
	background:  url(images/code_header.gif) top left no-repeat;
	padding-left: 19px;
	border: solid 1px #32B626;
	width:auto;
}
.quotewrapper, .codewrapper, .attachwrapper {
	clear: both;
	margin: 10px 5px;
	background: #33B626 url(images/code_header.gif) top left no-repeat;
	padding-left: 19px;
	border: solid 1px #090909;
	width:1px;
}

.quotewrapper { background-image: url(images/quote_header.gif); }

.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle { 
	margin: 0; 
	border-width: 0 0 1px 1px;
}

.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent {
	margin: 0; 
	border-width: 0 0 0 1px;
}
.attachcontent, html>body .postbody {
	overflow: auto;
	overflow-x: auto;
}

.syntaxbg {
	color: #FFF;
}

.syntaxcomment {
	color: #AAA;
}

.syntaxdefault {
	color: #FFF;
}

.syntaxhtml {
	color: #FFF;
}

.syntaxkeyword {
	color: #F0E40A;
}

.syntaxstring {
	color: #78A117;
}

/**********/

/* Buttons used in the editor */
#format-buttons_bbc {
	margin: 4px 2px 2px 5px;
}

#format-buttons_ncc input, #format-buttons_bcc select {
	vertical-align: middle;
}



/* index page */
/* make top bottom -1 or 0 for effects */
/*
.topiclist > li.row { background: #000000;  margin: -1px -2px -1px -2px; border: none; }
.topiclist > li.row > dl.icon > dt {		margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px;  background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > dl.icon > dt {		margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:37px; background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > dl.icon dd.topics {	margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px; background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > dl.icon dd.posts {	margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px; background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > dl.icon dd.lastpost { margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px; background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > forum-image {			margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px; background: #313131 url(images/cell.gif) top left repeat-x; }
.topiclist > li.row > dl.icon dd.views {	margin: -1px 0 -1px 1px; border: solid 1px #3c3c3c; min-height:29px; background: #313131 url(images/cell.gif) top left repeat-x; }
*/





/* Optional old fashioned headers almost! */
/*
li.header > dl.icon  {
	color: #CFF0CC; 
	font-size: 11px; 
	font-weight: bold;
	background: #4D864A url(images/th.gif) top left repeat-x;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	border-left: solid 1px #3DC231;
	border-right: solid 1px #1F7D16;
	border-top: solid 1px #45C339;
	border-bottom: solid 1px #1F7D16;
}
li.header > li.row > dl.icon >dt a, th a:visited {
	color: #CFF0CC !important;
	text-decoration: underline;
}
li.header > li.row > dl.icon > dt a:hover {
	color: #FFF;
	text-decoration: underline;
}
*/

/*.post {  width:800px; }*/




/* menus */
#dropmenudiv {
position : absolute;
border-left : 1px solid #309B27;
border-top : 1px solid #309B27;
border-right : 1px solid #309B27;
font-family : verdana, sans-serif;
font-size : 11px;
line-height : 15px;
z-index : 100;
text-align : left;
margin : 0 0 0 0;
}

#dropmenudiv a {
width : 100%;
display : block;
text-indent : 10px;
padding : 5px 0;
text-decoration : none;
font-weight : bold;
color : #CFF1CD;
background-color : #54664D;
border-bottom : 1px solid #309B27;
}

#dropmenudiv a:hover {
color : #FFFFFD;
background : #34A22A;
}


.menu_left {
	margin: 60px 0 0 10px;
	text-align: left;
	height: 25px;
	font-size: 12px;
	line-height: 110%;
	overflow:hidden;
/*	background: #35B828;*/
	border: solid 1px #309B27;
	border-left: solid 1px #309B27;
	border-right: none;
	background: #4D864A url(images/th.gif) top left repeat-x;
}

.menu_left a:hover {
	color:#CCF4C8;
}
.menu_right {
	margin: 60px 10px 0 -5px;
	text-align: right;
	height: 25px;
	font-size: 12px;
	line-height: 110%;
	overflow:hidden;
/*	background: #309B27;*/
	border: solid 1px #309B27;
	border-right: solid 1px #309B27;
	border-left: none;
	background: #4D864A url(images/th.gif) top left repeat-x;
}

.menu_right a:hover {
	color:#CCF4C8;
}


.menubar {
	margin: -140px 5px 5px 0;
	text-align:left; 
	font-size:10px; 
	height:20px; 
	line-height:24px; 
}

.menubar a {
	margin:0;
}

.menubar a:hover {
	text-decoration:none; color:#FFFFFE;
}

#datebar {
	background-color: #ff0000;
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.member {
	margin: 60px -25px 0 -22px;
	text-align: right;
	height: 25px;
	font-size: 12px;
	line-height: 110%;
	overflow:hidden;
	border: solid 1px #309B27;
	border-right: solid 1px #309B27;
	border-left: none;
	background: #4D864A url(images/th.gif) top left repeat-x;
}

.member a:hover {
	color:#CCF4C8;
}

.logo > img {
	margin: -58px 0px 0 -5px;
}








body {
background-image: url('./images/back.gif');
background-repeat: repeat;
background-attachment: fixed;
}

.head_date {margin: 5px 0 -16px 10px; color: #CFF0CC; text-align:left;}
.head_time {margin: 5px 10px -16px 0; color: #CFF0CC; text-align:left;}

/* to create the effect obtained using tables/tr/td use this coded */
ul.topiclist > li.row { margin-bottom: 1px;}
.forums { padding: 1px 1px 1px 1px;}
.topiclist {padding: 1px 1px 1px 1px; }
.forums > li.row { margin-bottom: 1px;}

/* reduce the size of the forum icon to suit style */
.forum-image img { height: 32px; width:32px; }

ul.topiclist { background-color: #0D0D0D;}
ul.topiclist > li.header { 
background-color: #3C3C3C;
padding-left:4px;
background-image: url("images/cell.gif");
margin: -1px -1px -1px -1px;
}

.bsw_b_img {
float:left;
width:33px;
height:33px;
margin:10px;
margin-bottom: 0;
background: url(images/birthday.gif) top left no-repeat;
}
.bsw_s_img {
float:left;
width:33px;
height:33px;
margin:10px;
margin-bottom: 0;
background: url(images/statistics.gif) top left no-repeat;
}
.bsw_w_img {
float:left;
width:33px;
height:33px;
margin:10px;
margin-bottom: 0;
background: url(images/whosonline.gif) top left no-repeat;
}
.bsw_content {
margin-left:50px;
padding:5px;
border-left: solid 1px #000000;
border-top: solid 1px #667667;
min-height:40px;
}


a.arrange_on, a.arrange_off {
display: block;
overflow: hidden;
height: 18px;
text-indent: -5000px;
text-align: left;
background-repeat: no-repeat;
}
a.arrange_on {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_on:hover {
background-position: 0 -20px;
text-decoration: none;
}
a.arrange_off {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_off:hover {
background-position: 0 -20px;
text-decoration: none;
}

a.arrange_on { background-image: url("./images/icon_arrange_on.gif"); }
a.arrange_off { background-image: url("./images/icon_arrange_off.gif"); }

.rtl a.arrange_on, .rtl a.arrange_off { text-align: right; }