/* New layout for portal.css prosilver based styles
-------------------------------------------------- */

body {
background-image: url('./images/back.gif');
background-repeat: repeat;
background-attachment: fixed;
}


/* Block Classes 
-------------------------------------------------- */
.block_header {
text-align:left; color:#F0FADC; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:1em; text-transform: uppercase; line-height:135%;
padding-left:3px; padding-bottom:2px;
position:relative;
}
.block_header a { 
color: #FFFFFF;
text-decoration: none;
}
.block_header a:hover { 
color:#FFC000; 
text-decoration: none; 
}
.block_header a:link {
color: #FFFFFF;
text-decoration: none;
}

.block_wrapper {
background-color: #1C1C1C;
background-image: url("./images/bg_list.gif");
background-repeat: repeat-x;
margin-bottom: 10px;
padding: 0 5px 0 5px;
}

.block_bg {
background-color: #1C1C1C;
background-image: url("./images/bg_list.gif");
background-repeat: repeat-x;
margin-bottom: 10px;/*? set gap between blocks at bottom ?*/
padding: 0 5px 0 5px;/*? padd area inside, note setting to 1 will produce square corners, max is 5px ?*/
clear: both;
border: solid 1px #000000;
border-top: none;
/*border-bottom: none;*/
}

.block_data {
background-color: #1C1C1C;
float:left;
width:100%; /* required to centre data */
list-style-type: none;

/*
border-top: solid 1px #101010;
border-bottom: solid 1px #667667;
*/

}

.box {
background: #1C1C1C none repeat-x 0 0;
background-repeat: repeat;
text-align:left;
padding: 5px 5px 5px 5px;
overflow: hidden;
width: auto;
clear: both;
margin:1px;
margin-top:10px;

/*  optional 3d centre */
border: solid 1px #0C0E0C;
border-top: solid 1px #3D473E;
border-top: solid 1px #667667;
border-right: solid 1px #111311;
border-top: solid 1px #000000;
/*  optional 3d centre */

}

.k_quick {
background-color: #1C1C1C;
width:70%;
text-align:left;
margin-bottom: 4px;
padding: 0 5px;
clear: both;
background-image: url("./images/bg_list.gif");
background-repeat: repeat-x;
}

.bg1a{ background-color: #E5EFE8;}
.bg2a{ background-color: #DFEFEF;}
.bg3a{ background-color: #363F4D;}


/* News/Announcements
 ------------------------------------ */
.news { width:100%; text-align:left;  padding-left:15px; padding-right:15px; clear:both;}
.news_body { width:100%; text-align:left; padding-top: 1px; padding-bottom: 10px; float:left;}
.news img {text-align:center;}

.myannounce {
text-align:center;
background: #303030 none repeat-x 0 0;*/
margin-bottom: 1px; 
padding: 0 5px;
clear: both;
margin-bottom: 10px;
}
.mynews {
text-align:center;
background: #313131 none repeat-x 0 0;
margin-bottom: 4px; 
padding: 0 5px;
clear: both;
}
.news_title {
color:green;
font-weight: bold;
float:left;
text-align:left; 
width:50%;
}
.news_poll {
 text-align:center; 
 width:20%; 
}
.news_poster {
float:left;
text-align:left;
width:40%;
}
.news_time {
color:green;
font-weight: bold;
float:right;
text-align:right;
width:50%;
padding-top:5px;
padding-bottom:5px;
}
.news_comments {
 float:left;
 text-align:center; 
 width:20%;
}
.news_reply {
color:green;
float:left;
text-align:right; 
width:40%; 
}

.news_box {
float: right; padding:0; width: 190px; height: 40px; margin-top: 1px; margin-right: 10px;
}
.announce_box {
float: right; padding:0; width: 200px; height: 40px; margin-top: 1px; margin-right: 10px;
}

.newscat {
color:#C6C0B7;
text-align:right;
font-size: 1em;
font-weight: bold;
width:auto;
}
.newscat2 {
color:#C6C0B7;
text-align:right;
font-size: 1em;
font-weight: bold;
width:auto;
}

.newscatimg{ float:left; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px; }
.newscatimg2{ float:left; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px; }

/* corners for news / announcements */
span.corners-top-news, span.corners-bottom-news, span.corners-top-news span, span.corners-bottom-news span {
font-size: 1px;
line-height: 1px;
display: block;
height: 5px;
background-repeat: no-repeat;
}
span.corners-top-news {
background-image: none;
background-position: 0 0;
margin: 0 -5px;
}
span.corners-top-news span {
background-image: none;
background-position: 100% 0;
}
span.corners-bottom-news {
background-image: none;
background-position: 0 100%;
margin: 0 -5px;
clear: both;
}
span.corners-bottom-news span {
background-image: none;
background-position: 100% 100%;
}
span.corners-top-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-top-news span {
background-image: url("./images/corners_right_news.png");
}
span.corners-bottom-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-bottom-news span {
background-image: url("./images/corners_right_news.png");
}


/* bbcode...
 ------------------------------------ */ 
.bbb-bold, .bbb-bold a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-bold.gif"); width:22px; height:22px; }
.bbb-bold:hover{ background-position: 0px -23px;}.bbb-quote,
.bbb-italic, .bbb-italic a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-italic.gif");width:22px; height:22px;}
.bbb-italic:hover{ background-position: 0px -23px;}.bbb-quote, 
.bbb-quote a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-quote.gif"); width:22px; height:22px;}
.bbb-quote:hover{ background-position: 0px -23px;}.bbb-code, 
.bbb-code a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-code.gif");width:22px; height:22px;}
.bbb-code:hover{ background-position: 0px -23px;}.bbb-list, 
.bbb-list a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-list.gif");width:22px; height:22px;}
.bbb-list:hover{ background-position: 0px -23px;}.bbb-flash, 
.bbb-flash a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-flash.gif"); width:22px; height:22px;}
.bbb-flash:hover{ background-position: 0px -23px;}.bbb-image, 
.bbb-image a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-image.gif"); width:22px; height:22px;}
.bbb-image:hover{ background-position: 0px -23px;}
.bbb-url, .bbb-url a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-url.gif"); width:22px; height:22px;}
.bbb-url:hover{ background-position: 0px -23px;}
.bbb-under_line, .bbb-under_line a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-under_line.gif");width:22px; height:22px;}
.bbb-under_line:hover{ background-position: 0px -23px;}
.bbb-align_center, .bbb-align_center a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_center.gif");width:22px; height:22px;}
.bbb-align_center:hover{ background-position: 0px -23px;}
.bbb-align_left, .bbb-align_left a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_left.gif");width:22px; height:22px;}
.bbb-align_left:hover{ background-position: 0px -23px;}
.bbb-align_right, .bbb-align_right a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_right.gif");width:22px; height:22px;}
.bbb-align_right:hover { background-position: 0px -23px;}
.bbb-ordered_list, .bbb-ordered_list a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-ordered_list.gif");width:22px; height:22px;}
.bbb-ordered_list:hover{ background-position: 0px -23px;}
.bbb-add_list_item, .bbb-add_list_item a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-add_list_item.gif"); width:22px; height:22px;}
.bbb-add_list_item:hover { background-position: 0px -23px;}
.bbb-note, .bbb-note a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-note.gif");width:22px; height:22px;}
.bbb-note:hover { background-position: 0px -23px;}
.bbb-spoiler, .bbb-spoiler a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spoiler.gif"); width:22px; height:22px;}
.bbb-spoiler:hover{ background-position: 0px -23px;}
.bbb-tab, .bbb-tab a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-tab.gif"); width:22px; height:22px;}
.bbb-tab:hover{ background-position: 0px -23px;}
.bbb-sup, .bbb-sup a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sup.gif"); width:22px; height:22px;}
.bbb-sup:hover{ background-position: 0px -23px;}
.bbb-sub, .bbb-sub a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sub.gif"); width:22px; height:22px;}
.bbb-sub:hover{ background-position: 0px -23px;}
.bbb-strike, .bbb-strike a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-strike.gif");width:22px; height:22px;}
.bbb-strike:hover { background-position: 0px -23px;}
.bbb-link, .bbb-link a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-link.gif");width:22px; height:22px;}
.bbb-link:hover { background-position: 0px -23px;}
.rollover, .rollover a { display: inline; float:left; } .rollover a:hover { background-position: 0 -23px; }
.bbb-icon-spacer {background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spacer.gif"); width:3px; height:22px;}


/* sdMenu Stu
 -------------------------------------- */
div.sdmenu div {
overflow: hidden;
font-weight: bold;
width:100%;
}
div.sdmenu div.collapsed {
height: 18px;
}
div.sdmenu span {
display: block;
padding: 2px 6px;
cursor: default;
}
.sub_heading {
color: #B94D4B;
font-size:12px;
font-family: Comic Sans MS, Sans-Serif;
font-weight: bold;
padding-top:5px;
padding-bottom:5px;
text-align:left;
}


/* NeXur's bable translation block
 -------------------------------------- */
.translate_head {
text-align:center;
color: #2E5B82;
padding:5px;
}
div.trans div a.current {
background : #ccc;
}
div.trans div a:hover {
background : #ECECEC url("./images/linkarrow.gif") no-repeat right center;
color: #DE1717;
text-decoration: none;
}
div.trans div a {
width:97%; /* width auto ? IE FIX */ 
padding:2px;
background: #fff;
display: block;
color: #2E5B82;
}
.translate_reset {
 text-align:center;
 padding-top:5px;
}


/* scroll Stu
 -------------------------------------- */
div.scroll_outer {
z-index: 1;
position: relative;
overflow: hidden;
}
div.scroll_inner {
position: absolute;
z-index: 2;
	height:auto;
	width:100%;
}

/* Johnnytheone Header Menus
 -------------------------------------- */

#menuwrapper {
border-bottom: 1px solid #B4C6DB;
width: 100%;
margin-top: 2px;
background-image: url('./images/cellpic_nav.gif');
background-repeat: repeat-x;
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */
#header-nav li li {
width: 200px;
}

/* Unless you know what you do, do not touch this */
#header-nav, #header-nav ul {
list-style: none;
margin: 0px;
padding: 0px;
}
#header-nav ul {
position: absolute;
top: auto;
display: none;
}
#header-nav ul ul {
margin-top: 1px;
margin-left: -1px;
left: 100%;
top: 0px;
}
#header-nav li {
margin-left: -1px;
float: left;
}
#header-nav li li {
margin-left: 0px;
margin-top: -1px;
float: none;
position: relative;
}

/* Styling the basic apperance of the menu elements */
#header-nav a {
display: block;
margin: 0px;
padding: 5px 5px;
text-decoration: none;
}
#header-nav li a:hover {
border-left: 1px solid #C0C0C0;
border-right: 1px solid #C0C0C0;
}
#header-nav li li a {
border: 1px solid #C0C0C0;
}
#header-nav li li, #header-nav {
background-color: #ececec;
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */
#header-nav {
background-color: #C7C7C7;
}

/* Styling the apperance of menu items on hover */
#header-nav li:hover {
background-color: #1C1C1C;
}

#header-nav ul,
#header-nav li:hover ul,
#header-nav li:hover ul ul {
display: none;
}
#header-nav li:hover ul,
#header-nav ul li:hover ul,
#header-nav ul ul li:hover ul {
display: block;
}


/* set some colours
 -------------------------------------- */

.list_new_pre_beata
{
color: red;
font-weight: bold;
}
.list_pre_beat 
{
color: gray;
font-weight: bold;
}
.list_beta 
{
color: orange;
font-weight: bold;
} 
.list_pre_release
{
color: blue;
font-weight: bold;
} 
.list_release
{
color: green;
font-weight: bold;
}
.orange
{
color: #FFC000;
font-weight: bold;
}
.green
{
color:#008000;
font-weight: bold;
}
.red
{
color:#FF0000;
font-weight: bold;
}
.gray 
{
color:#BABABA;
font-weight: bold;
}
.blue {
color:#18609C;
font-weight: bold;
}


/* Misc.
 -------------------------------------- */
.showhide { position:relative; float: right; margin-top: -13px; margin-right: 0px; }

.forabg_p {
background: #C3E4F8 none repeat-x 0 0;
margin-bottom: 4px;
padding: 0 5px;
clear: both;
}
.forabg_p {
background-color: #199893;
background-image: url("./images/bg_blocks.gif");
}

/* fix for IE6 */
.rtl .forabg_p { width: 99%; }
 html>body .box { width: auto; }
 html>body .box2 { width: auto; }

.handle { cursor: move; }


abbr, acronym {
font-weight: bold;
text-decoration: overline;
cursor: help;
}

.acronym {
background:#FFFFCC
}

acronym{
font-style:italic;
font-weight:bold;
border-bottom:1px #BD5121 dashed ;
color:#459B37;
cursor: help;
}

.bot_tracker {
font-size:10px;
text-align:left; 
padding:2px;
}
.bot_tracker_date {
font-size:9px;
text-align:left; 
padding:2px;
}

.style_status {
color:#2B6373;
font-size:10px;
text-align:left; 
padding:0px;
}

a.arrange_on, a.arrange_off {
display: block;
overflow: hidden;
height: 18px;
text-indent: -5000px;
text-align: left;
background-repeat: no-repeat;
}
a.arrange_on {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_on:hover {
background-position: 0 -20px;
text-decoration: none;
}
a.arrange_off {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_off:hover {
background-position: 0 -20px;
text-decoration: none;
}

a.arrange_on { background-image: url("./images/icon_arrange_on.gif"); }
a.arrange_off { background-image: url("./images/icon_arrange_off.gif"); }

.rtl a.arrange_on, .rtl a.arrange_off { text-align: right; }

.style_status a {color:#2B6373; font-weight:bold;}
.smallimage { width:25px; height:25px; float:left; margin-right:3px; margin-bottom:5px; position:relative; }
.random_header_image img { width:100%; height:150px;}
.welcome { text-align:center; }
.unresolved { color:#567592; }
.whos_online { text-align:left; text-align:left; padding:0px; }
.category { color: #105289; text-align:left; } 
.category2 { color: #105289; text-align:left; padding:1px; }
.top_poster { text-align:center; padding:2px; }
.hsdebug { display: inline; } 
.random_header_image img { width:100%; height:150px;}



/* to be sorted...
 -------------------------------------- */

ul.blocks {
list-style-type: none;
text-align:center;
position: static;
background: #EFEFEF none repeat-x 0 0;
border:none;
padding:4px;
margin-top:2px;
}
/*
.navmenu { line-height: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; font-size : 11px; font-weight:normal; text-decoration: none; color : #13726E; }
.navmenu a { font-weight:bold; text-decoration: none; color : #13726E; }
.navmenu a:visited { text-decoration: none; color : #13726E; }
.navmenu a:hover { text-decoration: none; color : #CC0000; }
*/

/*----- buttons.css -----*/
ul.newslist {
display: block;
list-style-type: none;
margin: 0;
font-size: 1.1em;
}
ul.newslist li {
display: block;
list-style-type: none;
color: #777777;
margin: 0;
}
ul.newslist li.row dl {
padding: 2px 0;
}
ul.newslist dt {
display: block;
float: left;
width: 50%;
font-size: 1em;
padding-left: 5px;
padding-right: 5px;
}
ul.newslist dd {
display: block;
float: left;
border-left: 1px solid #FFFFFF;
padding: 4px 0;
}

* html ul.newslist li {}

li.newslist dt, li.newslist dd {
line-height: 1em;
border-left-width: 0px;
margin: 2px 0 4px 0;
color: #000000;
padding-top: 2px;
padding-bottom: 2px;
font-size: 1em;
font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-decoration: none;
}

li.newslist a {text-decoration:none;}
.announce ul, .announce li, .news ul, .news li { padding-left: 15px; }

.imageline { width:auto; height:auto; border:none; float:left; padding-top: 5px;}
.imageline_hidden { width:auto; height:auto; border:none; float:left; padding-top: 5px; }
/*?
.forabg .header a:link { color: #FFFFFF; }
.forabg .header a:hover { color: #FFFFFF; }
*/

tr.hl {background-image: url("./images/bg_list.gif"); }
table.table1 .flag { text-align: center; width: 30px; }


dd.flag { width: 30px; }
.forum_icons { float:left; padding-right:10px; }
.spacer { background-image: url("./images/spacer.gif"); width:15px; height:1px; }
input.full { width: 100%; }
.direction { border:none; background: #FFF url("./images/scroll_arrows.gif") repeat-x; height: 16px; }


/* Chat additions */
/* Icon images
---------------------------------------- */
.rtl .icon_chat {
background-position: 100% 50%;
padding: 1px 17px 0 0;
}
/* Icon images
---------------------------------------- */
.icon-chat {
background-position: 0 50%;
background-repeat: no-repeat;
background-image: none;
padding: 1px 0 0 17px;
}
/* Icon images
---------------------------------------- */
.icon-chat{ background-image: url("./images/icon_chat.gif"); }

.poll_question{
font-size:12px;
font-weight:bold;
color:#105289;
padding-bottom:4px;
}

.hrd {color: #fff; background-color: #fff; border: 1px dotted #949494; border-style: none none dotted; }

/* IE Hacks */
#header-nav li li {
float: left;
clear: both;
}
#header-nav li li a {
height: 1%;
}


.link_images {
width:100%;
margin-right:50%;
}


.box_head	{
	background-image: url('./images/box_head.png');
	width: 100%;
	margin: 0 auto;
	border: solid 1px #000000; 
}

.box_footer	{
	background-image: url('./images/box_footer.png');
	width: 100%;
	margin: 0 auto;
	border: solid 1px #000000; 
}