/* New layout for portal.css prosilver based styles
-------------------------------------------------- */


/* Block Classes 
-------------------------------------------------- */
.block_header {
color: #ADADAD;
font-size: 1.1em;
font-weight: bold;
background-image: url('./images/cellpic3.gif');
background-repeat:repeat-x;
padding:4px;
background-color: #010101;
border: solid 1px #F80000;
border-right: 2px;
border-bottom:none;
white-space: nowrap;
width:100%;
}
.block_data {
/*	background-color: #010101;*/
float:left;
width:100%; /* required to centre data */
list-style-type: none;
}

.block_head {
	color: #ADADAD;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #BF0101;
	background-image: url('./images/cellpic3.gif');
	height:25px;
	white-space: nowrap;
	padding:2px;
}
.block_body {
	background-color: #010101;
	padding:1px;
	padding-top:0;
	width:100%;
	overflow: hidden;
	margin-bottom: 13px;
	clear: both;
}





.block_bl {
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/block_bl.gif');
 background-repeat:no-repeat;
 width:20px;
 height:6px;
 float:left;
}
.block_bc {
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/block_bc.gif');
 background-repeat:repeat-x;
 width:auto;
 height:6px;
 float:left;
}
.block_br {
 font-size: 1px;
 line-height: 1px;
 display: block;
 background-image: url('./images/block_br.gif');
 background-repeat:no-repeat;
 width:20px;
 height:6px;
 float:left;
}


.box {
color:#DFDCD7;
text-align:left;
background-color: #010101;
border: solid 1px #F80000;
border-top:none;
border-bottom:none;
padding:5px;
padding-top:8px;
padding-bottom:8px;
margin-top:1px;
margin-bottom:1px;
overflow: hidden;
width:auto;
background: url(images/bg_block.png) top left repeat-x;
}

.k_quick {
width:75%;
text-align:left;
margin-bottom: 4px;
}

.k_block_header {
color: #ADADAD;
font-size: 1.1em;
font-weight: bold;
background-image: url('./images/cellpic3.gif');
background-repeat:repeat-x;
white-space: nowrap;
padding:4px;
background-color: #620005;
border: solid 1px #F80000;
border-right: 2px;
border-bottom:none;
}
.k_panel {
background-color: #240000; padding:8px;
background-image: url('./images/cellpic4.gif');
background-repeat:repeat-x;
border: solid 1px #760000;
border-left: solid 1px #F80000;
border-right: solid 1px #F80000;
}


li.bg1	{ background-color: #1C1C1C; }
li.bg2	{ background-color: #2C2C2C; }
li.bg3	{ background-color: #3C3C3C; }


.bg3a	{ background: TRANSPARENT url('./images/head-news.jpg') repeat-x; background-color: #1C1C1C;}
.bg2a	{ background: TRANSPARENT url('./images/news_ann_normal.jpg') repeat-x; background-color: #2C2C2C;}
.bg1a	{ background: TRANSPARENT url('./images/news_ann_normal_2.jpg') repeat-x; background-color: #3C3C3C;}



/* News/Announcements
 ------------------------------------ */
.news { width:100%; text-align:left; padding-left:15px; }
.news_body { width:100%; text-align:left; padding-top: 5px; padding-bottom: 10px; float:left;}
.news img {text-align:center;}

.myannounce {
text-align:center;
background: none repeat-x 0 0;
margin-bottom: 4px; 
padding: 0 5px;
clear: both;
font-size:11px;
margin-left:6px;
margin-right:6px;
}
.mynews {
margin-bottom: 4px; 
padding: 0 5px;
clear: both;
font-size:11px;
clear: both;
}
.news_title {
color:yellow;
font-weight: bold;
float:left;
text-align:left; 
width:50%;
padding-top:5px;
padding-bottom:5px;
}
.news_poll {
 text-align:center; 
 width:20%; 
}
.news_poster {
float:left;
text-align:left;
width:40%;
}
.news_time {
color:yellow;
font-weight: bold;
float:right;
text-align:right;
width:50%;
padding-top:5px;
padding-bottom:5px;
}
.news_comments {
 float:left;
 text-align:center; 
 width:20%;
}
.news_reply {
color:green;
float:left;
text-align:right; 
width:40%; 
}
.news_image {
 float:right;
 text-align:right;
 width:50px;
 padding-top:25px;
 padding-right:15px;
}

.news_box {
 float: right; padding:0; width: 190px; height: 40px; margin-top: 1px; margin-right: 10px;
}
.announce_box {
 float: right; padding:0; width: 200px; height: 40px; margin-top: 1px; margin-right: 10px;
}

.newscat {
color:#DFDCD7;
text-align:left;
background-image: url("images/newscat.gif");
border: solid 1px #5C6996; /*#F80000;*/
border-right:none;
border-bottom:none;
padding:3px;
padding-left: 10px;
font-size: .95em;
font-weight: bold;
width:auto;
}
.newscat2 {
color:#DFDCD7;
text-align:left;
background-image: url("images/newscat2.gif");
border: solid 1px #A00404; /*#F80000;*/
border-right:none;
border-bottom:none;
padding:3px;
padding-left: 10px;
font-size: .95em;
font-weight: bold;
width:auto;
}


.newscatimg{ float:left; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px; }
.newscatimg2{ float:left; background : url("images/news.gif") no-repeat right center; width: 28px; height: 28px; margin-top: -25px; margin-right: 1px; }
/* corners for news / announcements */
span.corners-top-news, span.corners-bottom-news, span.corners-top-news span, span.corners-bottom-news span {
font-size: 1px;
line-height: 1px;
display: block;
height: 5px;
background-repeat: no-repeat;
}
span.corners-top-news {
background-image: none;
background-position: 0 0;
margin: 0 -5px;
}
span.corners-top-news span {
background-image: none;
background-position: 100% 0;
}
span.corners-bottom-news {
background-image: none;
background-position: 0 100%;
margin: 0 -5px;
clear: both;
}
span.corners-bottom-news span {
background-image: none;
background-position: 100% 100%;
}
span.corners-top-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-top-news span {
background-image: url("./images/corners_right_news.png");
}
span.corners-bottom-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-bottom-news span {
background-image: url("./images/corners_right_news.png");
}


/* bbcode...
 ------------------------------------ */ 
.bbb-bold, .bbb-bold a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-bold.gif"); width:22px; height:22px; }
.bbb-bold:hover{ background-position: 0px -23px;}.bbb-quote,
.bbb-italic, .bbb-italic a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-italic.gif");width:22px; height:22px;}
.bbb-italic:hover{ background-position: 0px -23px;}.bbb-quote, 
.bbb-quote a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-quote.gif"); width:22px; height:22px;}
.bbb-quote:hover{ background-position: 0px -23px;}.bbb-code, 
.bbb-code a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-code.gif");width:22px; height:22px;}
.bbb-code:hover{ background-position: 0px -23px;}.bbb-list, 
.bbb-list a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-list.gif");width:22px; height:22px;}
.bbb-list:hover{ background-position: 0px -23px;}.bbb-flash, 
.bbb-flash a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-flash.gif"); width:22px; height:22px;}
.bbb-flash:hover{ background-position: 0px -23px;}.bbb-image, 
.bbb-image a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-image.gif"); width:22px; height:22px;}
.bbb-image:hover{ background-position: 0px -23px;}
.bbb-url, .bbb-url a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-url.gif"); width:22px; height:22px;}
.bbb-url:hover{ background-position: 0px -23px;}
.bbb-under_line, .bbb-under_line a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-under_line.gif");width:22px; height:22px;}
.bbb-under_line:hover{ background-position: 0px -23px;}
.bbb-align_center, .bbb-align_center a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_center.gif");width:22px; height:22px;}
.bbb-align_center:hover{ background-position: 0px -23px;}
.bbb-align_left, .bbb-align_left a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_left.gif");width:22px; height:22px;}
.bbb-align_left:hover{ background-position: 0px -23px;}
.bbb-align_right, .bbb-align_right a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_right.gif");width:22px; height:22px;}
.bbb-align_right:hover { background-position: 0px -23px;}
.bbb-ordered_list, .bbb-ordered_list a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-ordered_list.gif");width:22px; height:22px;}
.bbb-ordered_list:hover{ background-position: 0px -23px;}
.bbb-add_list_item, .bbb-add_list_item a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-add_list_item.gif"); width:22px; height:22px;}
.bbb-add_list_item:hover { background-position: 0px -23px;}
.bbb-note, .bbb-note a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-note.gif");width:22px; height:22px;}
.bbb-note:hover { background-position: 0px -23px;}
.bbb-spoiler, .bbb-spoiler a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spoiler.gif"); width:22px; height:22px;}
.bbb-spoiler:hover{ background-position: 0px -23px;}
.bbb-tab, .bbb-tab a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-tab.gif"); width:22px; height:22px;}
.bbb-tab:hover{ background-position: 0px -23px;}
.bbb-sup, .bbb-sup a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sup.gif"); width:22px; height:22px;}
.bbb-sup:hover{ background-position: 0px -23px;}
.bbb-sub, .bbb-sub a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sub.gif"); width:22px; height:22px;}
.bbb-sub:hover{ background-position: 0px -23px;}
.bbb-strike, .bbb-strike a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-strike.gif");width:22px; height:22px;}
.bbb-strike:hover { background-position: 0px -23px;}
.bbb-link, .bbb-link a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-link.gif");width:22px; height:22px;}
.bbb-link:hover { background-position: 0px -23px;}
.rollover, .rollover a { display: inline; float:left; } .rollover a:hover { background-position: 0 -23px; }
.bbb-icon-spacer {background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spacer.gif"); width:3px; height:22px;}


/* sdMenu Stu
 -------------------------------------- */
div.sdmenu div {
overflow: hidden;
font-weight: bold;
width:100%;
}
div.sdmenu div.collapsed {
height: 18px;
}
div.sdmenu span {
display: block;
padding: 2px 6px;
cursor: default;
}
.sub_heading {
color: #BF0000;
font-size:12px;
font-family: Comic Sans MS, Sans-Serif;
font-weight: bold;
padding-top:5px;
padding-bottom:5px;
text-align:left;
}


/* NeXur's bable translation block
 -------------------------------------- */
.translate_head {
text-align:center;
color: #8A8A8A;
padding:5px;
}
div.trans div a.current {
background : #ccc;
}
div.trans div a:hover {
background : #1A1A1C url("images/linkarrow.gif") no-repeat right center;
color: #DE1717;
text-decoration: none;
}
div.trans div a {
width:97%; /* IE FIX */ 
padding:2px;
display: block;
color: #8A8A8A;
}
.translate_reset {
 text-align:center;
 padding-top:5px;
}


/* scroll Stu
 -------------------------------------- */
div.scroll_outer {
z-index: 1;
position: relative;
overflow: hidden;
}
div.scroll_inner {
position: absolute;
z-index: 2;
	height:auto;
	width:100%;
}

/* Johnnytheone Header Menus
 -------------------------------------- */

#menuwrapper {
border-bottom: 1px solid #B4C6DB;
width: 100%;
margin-top: 2px;
background-image: url('./images/cellpic_nav.gif');
background-repeat: repeat-x;
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */
#header-nav li li {
width: 200px;
}

/* Unless you know what you do, do not touch this */
#header-nav, #header-nav ul {
list-style: none;
margin: 0px;
padding: 0px;
}
#header-nav ul {
position: absolute;
top: auto;
display: none;
}
#header-nav ul ul {
margin-top: 1px;
margin-left: -1px;
left: 100%;
top: 0px;
}
#header-nav li {
margin-left: -1px;
float: left;
}
#header-nav li li {
margin-left: 0px;
margin-top: -1px;
float: none;
position: relative;
}

/* Styling the basic apperance of the menu elements */
#header-nav a {
display: block;
margin: 0px;
padding: 5px 5px;
text-decoration: none;
}
#header-nav li a:hover {
border-left: 1px solid #C0C0C0;
border-right: 1px solid #C0C0C0;
}
#header-nav li li a {
border: 1px solid #C0C0C0;
}
#header-nav li li, #header-nav {
background-color: #ececec;
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */
#header-nav {
background-color: #C7C7C7;
}

/* Styling the apperance of menu items on hover */
#header-nav li:hover {
background-color: #F9F9F9;
}

#header-nav ul,
#header-nav li:hover ul,
#header-nav li:hover ul ul {
display: none;
}
#header-nav li:hover ul,
#header-nav ul li:hover ul,
#header-nav ul ul li:hover ul {
display: block;
}


/* set some colours
 -------------------------------------- */

.list_new_pre_beata
{
color: red;
font-weight: bold;
}
.list_pre_beat 
{
color: gray;
font-weight: bold;
}
.list_beta 
{
color: orange;
font-weight: bold;
} 
.list_pre_release
{
color: blue;
font-weight: bold;
} 
.list_release
{
color: green;
font-weight: bold;
}
.orange
{
color: #FFC000;
font-weight: bold;
}
.green
{
color:#008000;
font-weight: bold;
}
.red
{
color:#FF0000;
font-weight: bold;
}
.gray 
{
color:#BABABA;
font-weight: bold;
}
.blue {
color:#18609C;
font-weight: bold;
}


/* Misc.
 -------------------------------------- */
.showhide { float: right; margin-top: -14px; margin-right: 9px; }


#container {width: 100%; background: #eee; margin: 0 auto; text-align: left; }

.handle{cursor: move;}


/*
** reset some highslide colours for this style if needed
*/
.highslide-html {
/*	background-color: #8B8B8B;*/
}
.highslide-wrapper .highslide-header a {
/*	color: gray;*/
}

.mini_nav img { text-align:right; float:left; padding:0; }

acronym{
  font-style:italic;
  border-bottom:1px #BD5121 dashed ;
  color:#459B37;
  cursor: help;
}

.bot_tracker {
font-size:10px;
text-align:left; 
padding:2px;
}
.bot_tracker_date {
font-size:9px;
text-align:left; 
padding:2px;
}

.style_status {
color:#2B6373;
font-size:10px;
text-align:left; 
padding:0px;
}

a.arrange_on, a.arrange_off {
display: block;
overflow: hidden;
height: 18px;
text-indent: -5000px;
text-align: left;
background-repeat: no-repeat;
}
a.arrange_on {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_on:hover {
background-position: 0 -20px;
text-decoration: none;
}
a.arrange_off {
background-image: none;
background-position: 0 -1px;
width: 29px;
}
a.arrange_off:hover {
background-position: 0 -20px;
text-decoration: none;
}

a.arrange_on { background-image: url("./images/icon_arrange_on.gif"); }
a.arrange_off { background-image: url("./images/icon_arrange_off.gif"); }

.rtl a.arrange_on, .rtl a.arrange_off { text-align: right; }

.style_status a {color:#2B6373; font-weight:bold;}
.smallimage { width:30px; height:30px; float:left; margin-bottom:5px; position:relative; }
.random_header_image img { width:100%; height:150px;}
.welcome { text-align:center; }
.unresolved { color:#567592; }
.whos_online { text-align:left; text-align:left; padding:0px; }
.category { color: #105289; text-align:left; } 
.category2 { color: #105289; text-align:left; padding:1px; }
.top_poster { text-align:center; padding:2px; }
.hsdebug { display: inline; } 
.random_header_image img { width:100%; height:150px;}
h4 {color:#2E5B82;}

/* restrict external and sig images to max size 24 January 2009 Mike (Add to all prosilver styles)*/
.content img, .contents img {max-width: 600px; max-height:500px; }
.signature img {max-width: 200px; max-height:100px; }


.forum_icons { float:left; padding:10px;
/*	position:relative; left: 5px; top: 50%;*/
}

}
.tablebg {
	background-color: #F80000;
}
.catdiv {
	height: 22px;
}


.row1 {
	background-color: #010101;
	padding: 4px;
}
td.row1:hover {
	background-color: #202020;
	text-decoration: none; 
}

.row2 {
	background-color: #202020;
	padding: 4px;
}
td.row2:hover {
	background-color: #010101;
	text-decoration: none; 
}


.row3 {
	background-color: #303030;
	padding: 4px;
}
hr {
	background-color: #010101;
	color: #020202;
}






/* Links 
------------ */

a.arrange:link, a.nav:link {color: #A0B781}
a.arrange:visited, a.nav:visited {color: #A0B781}
a.arrange:hover, a.nav:hover {color: #00FF00}
a.arrange:active, a.nav:active {color: #FFD200}


a:link {
	color: #E4EBDB;
	text-decoration: none;
}
a:visited {
	color: #E4EBDB;
}
a:hover {
	color: #CC0002;
}
a:active{
	color: #E4EBDB;
}

a.forumlink {
	color: #BF0101;
}
a.topictitle:visited {
	color: #989898;
}


input {
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	/*border: 1px solid #F80000; breaks opera */
	padding: 0 5px;
	font-size: 1em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

textarea {
	background-color: #030303;
	color: #B8B8B8;
	border: 1px solid #F80000;
}
select {
	color: #B8B8B8;
	background-color: #030303;
	border: 1px solid #F80000;
}
.post {
	background-color: #1C1C1C;
}
.btnmain {
	font-weight: bold;
	background-color: #1A1A1C;
	border: 1px solid #F80000;
}
.btnlite {
	font-weight: normal;
	background-color: #1A1A1C;
	border: 1px solid #F80000;
}
.helpline {
	background-color: #202020;
	color:#FFC0C0;
	border-style: none;
}



/*
.quotetitle, .attachtitle {
	border-color: #BA0000;
	color: #CACACA;
	background-color: #7C0000;
	font-size: 0.85em;
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
}

.quotecontent, .attachcontent {
	border-color: #BA0000;
	background-color: #030303;
}

.codetitle {
	margin: 0 5px 0 5px;
	font-size: 0.85em;
	padding: 2px 4px;
	color: #CACACA;
	background-color: #7A0000;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	border-color: #BA0000;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color:#7A0000;
}
/* code with lines Mike */
/*
.codecontent {
	direction: ltr;
	padding-left: 6px;
	color: #408C40;
	margin: 0 5px 10px 5px;
	border-color: #BA0000;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	background-color:#353535;
	background-image: url('./images/paper.gif');
	background-repeat: repeat; 
	font-weight: normal; font-size: 12px; 
	font-family: 'Courier New', monospace; 
	line-height: 125%;

	overflow: auto;
	display: block;
	height: auto;
	max-height: 300px;
	white-space: normal;
}
*/


/* BBCode
 ------------ */
.quotetitle, .attachtitle, .codetitle {
	margin: 10px 5px 0px 5px;
	padding: 2px 4px;
	border: solid 1px #090909;
	color: #D0D0D0;
	background-color: #2E2E2E;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	background-color: #2E2E2E;
	color: #EEE;
}

.attachcontent {
	font-size: 0.85em;
}

.codecontent {
	direction: ltr;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #2E2E2E;
	color: #EEE;
}

.quotewrapper, .codewrapper, .attachwrapper {
	clear: both;
	margin: 10px 5px;
	background: #B62A26 url(images/code_header.gif) top left no-repeat;
	padding-left: 19px;
	border: solid 1px #090909;
}
.quotewrapper { background-image: url(images/quote_header.gif); }
.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle { 
	margin: 0; 
	border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent {
	margin: 0; 
	border-width: 0 0 0 1px;
}

/*
.attachcontent, html>body .postbody {
	overflow: auto;
	overflow-x: auto;
	max-height: 300px;
	width:auto;
	max-width:745px;
}
*/
.syntaxbg {
	color: #8B8B8B;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #408C40;
}

.syntaxhtml {
	color: #FF0000;
}

.syntaxkeyword {
	color: #FFFFD1;
}
.syntaxstring {
	color: #E64040;
}

.pm_replied_colour {
	background-color: #F80000;
}
.sep {
	color: #8A8A8A;
}

.profile {
	margin:2px;padding:5px;
}

postdetails {
	border:1px solid; border-color:#008CCe #005F8C #005F8C #008CCe;margin:2px;padding:5px;
}

.highlight
{
	border:1px solid; border-color:#008CCe #005F8C #005F8C #008CCe;margin:1px;padding:1px;
}

.spacer {
	background-color: #2E0E0E;
}


/* Overloading...
 --------------------- */
body {
	color:#CDC8C8;
	background-color: #000001;
	background-position: center;
	/*background-image: url('./images/back.gif');*/
	background: TRANSPARENT url('./images/alliance-tile.jpg') repeat-x; background-color: #000000;
	background-attachment: fixed;

	padding-top:10px;
	width:100%;
    margin-left: auto;
    margin-right: auto;
}

#wrapcentre {
	margin: 10px 25px 10px 25px;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #1A1A1C;
	border-width: 1px;
	border-style: solid;
	border-color: #F80000;
}

#logodesc {
	margin:25px;
	margin-bottom: 5px;
	background: #100000;
	border: 1px solid #F80000;
}

#logodesc {
	margin:25px;
	margin-bottom: 5px;
	background: TRANSPARENT;
	border:none;
}
.site_logo {
	/*padding-top:60px;*/
	text-align:center;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}



.forumrules {
	background-color: #242020;
	border-width: 1px;
	border-style: solid;
	border-color: #F80000;
}
/*  Text
 --------------------- */
h1 {
	color: #8A8A8A;
	font-size: 1.5em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}
p.moderators {
	color: #8A8A8A;
}
p.breadcrumbs {
	color: #ADADAE;
}
p.forumdesc {
	color:#D7C8C8;
}
p.topicdetails {
	color: #CDC8C8;
}
.postauthor {
	text-align:center;
	color: #000001;
}
.postdetails {
	text-align:center;
	color: #C8C8C8;
}
.nav {
	color: #8A8A8A;
}

.pagination {
	color: #8A8A8A;
}
.copyright {
	color: #B00000;
}





/* Main message box */
#message-box {
	width: 80%;
}

#message-box textarea {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	width: 100%;
	font-size: 1.2em;
	color: #B8B8B8;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
}

#smiley-box img {
	margin: 3px;
}
/* Main message box */
#message-box {
	width: 80%;
}

/* Tables
 ------------ */
th {
color: #F4F4F5;
background-color: #BF0101;
height:25px;
white-space: nowrap;
}
/*   new and announcements blocks */
table.news {
	width:100%;
	border:solid 1px;
	border:none;
}
table.announce {
	width:100%;
	border:none;
}

/* Back to top of page */
.back2top {
	clear: both;
	height: 11px;
	text-align: right;
}

.unresolved {
  padding:5px;
  padding-left: 12px;
  padding-right: 12px;
}

.spacer {
	background-image: url("images/spacer.gif"); width:10px; height:1px;
}

/* fix for ie in search 10 February 2008 */
input.full		{ width: 99%; }

.nav_menu {}
.sub_heading {
	color: #BF0000;
	font-size:12px;
	font-family: Comic Sans MS, Sans-Serif;
	font-weight: bold;
	padding-top:2px;
}
.menu_item {
	padding-left:8px;
}
.direction {
	border:none; background: #FFF url(images/scroll_arrows.gif) repeat-x; height: 16px;
}



.navbar {
	background: #EECDCD url("./images/navbar.gif") repeat-x 0 0;
}






.whos_online {

	text-align:left;
	position:relative;
	padding: 3px;
}





/* Chat additions */
/* Icon images
 ---------------------------------------- */
.rtl .icon_chat {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}
/* Icon images
 ---------------------------------------- */
.icon-chat {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}
/* Icon images
 ---------------------------------------- */
.icon-chat	{ background-image: url("images/icon_chat.gif"); 
}

/* END */


.row3 {
	
	font-size:12px;
}

.unread_bug {
	color: #D31141;
	font-weight: bold;
}
.unread_bug {
	color: #D31141;
	font-weight: bold;
}
.bugs_box {
	background-color: #010101;
	border: solid 1px #F80000;
	border-top:none;
	border-bottom:none;
}
.bugs_block_body {
	background-color: #010101;
	width:100%;
}

div.details {
	border-bottom: 1px solid #921000;
	font-weight: bold;
	text-transform: uppercase;
	color: #115098;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

table.legend {
	text-align:center;
}


div.hr {
  height: 15px;
  background: url('./images/hr1.gif') no-repeat scroll center;
}
div.hr hr {
  display: none;
}

.panel label {color:#D6D6D6;}

.hr_dashed {
border-top: 1px dashed #008;
color:#008000;
}

.bg3a	{ background: TRANSPARENT url('./images/head-news.jpg') repeat-x; background-color: #1C1C1C;}
.bg2a	{ background: TRANSPARENT url('./images/news_ann_normal.jpg') repeat-x; background-color: #2C2C2C;}
.bg1a	{ background: TRANSPARENT url('./images/news_ann_normal_2.jpg') repeat-x; background-color: #3C3C3C;}
