.showhide {
	float: right; margin-top: -13px; margin-right: 1px;
}

.b_cap-right { margin-top:-51px;}
.show_in_ie { display:none; }
.show_in_opera { display:block; }
.top_gap {padding-top: 12px;}

.left_blocks_col_show {margin-bottom: 1px; margin-top: -5px; }
.right_blocks_col_show {margin-bottom: 1px; margin-top: -5px;}
