/*
	iefixes.css

	This file is required to fix IE bugs... 
	Michaelo phpbbireland.com 02 April 2008
*/

/* highslide 02 April 2008 */
.highslide img	{ max-width:350px; }

/* in search 10 February 2008 */
input.full	{ width: 99%; }

/* block part fix 26 April 2008 */


span.corners-top-news {
	background-image: url("./images/corners_left_news.gif");
}

span.corners-top-news span {
	background-image: url("./images/corners_right_news.gif");
}

span.corners-bottom-news {
	background-image: url("./images/corners_left_news.gif");
}

span.corners-bottom-news span {
	background-image: url("./images/corners_right_news.gif");
}

.showhide {
	float: right; margin-top: -14px; margin-right: 9px;
}

/* Menu icons not sizing correctly IE bug*/
div.sdmenu span {
   padding:1px;
}

.showhide {
	position:relative; 
	float: right; margin-top: -15px; margin-right: 1px;
}
.showhide img { max-width:16px; max-height:16px; }

.show_in_ie { display:block; }

.top_gap {clear:both; padding-top: 0px;}
.bottom_gap {margin-top: 2px; }
.left_blocks_col_show, .left_blocks_col_hide {margin-bottom: 3px; margin-top: 0px; }
.right_blocks_col_show, .right_blocks_col_hide {margin-bottom: 3px; margin-top: 0px;}
