/* Fix Firefox - Last Updated: 06 October 2008 Mike */
.showhide img { float: left; margin-top: -14px; margin-right: 8px; }
.handle { float: right; cursor: move; }
.show_in_ie { display:none; }

.top_gap {clear:both; padding-top: 0px;}
.bottom_gap {margin-top: 2px;}
.left_blocks_col_show {margin-bottom: 3px; margin-top: 0px;}
.right_blocks_col_show {margin-bottom: 3px; margin-top: 0px;}