<!-- IDTAG rules starts -->
<!-- INCLUDE overall_header.html -->

	<div>
		<div class="block_body">
			<div class="inner"><span class="corners-top"><span></span></span>
				<div class="block_header">
					<div style="text-align:{S_CONTENT_FLOW_BEGIN};">{L_BASIC_RULES_HEADER} &nbsp; (<!-- BEGIN basic_rules -->{L_UPDATED} {basic_rules.TO_DAY}<!-- END basic_rules -->)</div>
				</div>
				<div class="box">
					<!-- BEGIN basic_rules -->
					{basic_rules.BASIC_RULES} <br />
					<!-- END basic_rules -->
				</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	</div>

<!-- INCLUDE overall_footer.html -->
<!-- IDTAG rules ends -->
