<!-- INCLUDE overall_header.html -->
<!-- BEGIN mypage -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<span class="block_header">
				<span class="handle">
				{mypage.MY_PAGE_NAME} ({mypage.MY_DATE})
				</span>
			</span>
			<div class="box">
				<span class="rules">
					<br />{mypage.MY_DATA}<br /><br />
				</span>
			</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- END mypage -->
<!-- INCLUDE overall_footer.html -->