<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> MP3 PLAYER </TITLE>

<body style="background-color: #EFEFEF;">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="170" height="190" id="mp3player" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
		<param name="movie" value="{PATH}/mp3/mp3player.swf?config={PATH}/mp3/prosilver/prosilver &file={PATH}/mp3/get_mp3_files_pop.php" />
		<param name="wmode" value="transparent" />
		<param name="config" value="{PATH}/mp3/prosilver/config.xml">
		<embed src="{PATH}/mp3/mp3player.swf?config={PATH}/mp3/prosilver/config.xml &file={PATH}/mp3/get_mp3_files_pop.php" wmode="transparent" width="170" height="200" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</object>
		<!--<a class="button2" value="{L_CLOSE_WINDOW}" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>-->
</BODY>
</HTML>