<span class="block_data">
		<style type="text/css">
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a td {margin:0 !important; padding:0 !important; border:0 !important;}
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a tr.lfmHead a:hover { background:url(http://cdn.last.fm/widgets/images/en/header/radio/regular_grey.png) no-repeat 0 0 !important;}
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a tr.lfmEmbed object {float:right;}
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a tr.lfmFoot td.lfmConfig a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey_np.png) no-repeat 0px 0 !important;; }
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a tr.lfmFoot td.lfmView 	a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey_np.png) no-repeat -85px 0 !important;}
		table.lfmWidgetd798b3d84167886a7e450cefd079fd1a tr.lfmFoot td.lfmPopup 	a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey_np.png) no-repeat -159px 0 !important;}
		</style>
		<table class="lfmWidget7c32b0304c50cf85d7890d1868a21149" cellpadding="0" cellspacing="0" border="0" style="width:160px;">
			<tr class="lfmEmbed">
				<td align="center">
				<object type="application/x-shockwave-flash" data="http://cdn.last.fm/widgets/radio/19.swf" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="116" height="140">
				<param name="movie" value="http://cdn.last.fm/widgets/radio/19.swf" />
				<param name="flashvars" value="lfmMode=radio&amp;radioURL=artist%2FEnigma%2Fsimilarartists&amp;title=Music+like+Enigma&amp;theme=grey&amp;autostart=&amp;lang=en&amp;widget_id=7c32b0304c50cf85d7890d1868a21149" /> <param name="bgcolor" value="999999" />
				<param name="quality" value="high" />
				<param name="allowScriptAccess" value="always" />
				<param name="allowNetworking" value="all" />
				</object>
				</td>
			</tr>
		</table>
		<!--
		<div class="buttons" style="background-color:#fff; width:100%;">
			<div class="fm_radio-icon" style="padding-top:3px; padding-bottom:5px; padding-left:30%;">
			-->
		<div class="my_buttons"  style="text-align:center; width:100%;">
			<div class="fm_radio-icon">
				<a href="./blocks/block_fm_radio_popup.php" onClick="window.open('','popup','toolbar=0,location=0,status=0,menubar=0,scrollbars=0,width=280,height=260,left=210,screenX=210,top=60,screenY=60')" Target="popup"	title="{L_FM_RADIO}"><span></span>{L_FM_RADIO}</a>
			</div>
		</div>
</span>