<!-- IDTAG starts block_irc.html 4 November 2008 copyright phpbbireland.com 2008 -->
<div class="block_data">
	<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
		<div>
			<span style="position: relative; float:left; text-align:center; width:100%;">
				<a href="./blocks/block_irc_popup.php" onclick="window.open('','popup','toolbar=0,resizable=1,location=0,status=0,menubar=0,scrollbars=0,width=550,height=450,left=210,screenX=210,top=60,screenY=60')" Target="popup" title="{L_IRC_POPUP}"><span></span>{L_IRC_POPUP}</a>
			</span>
		</div>
	<!--<p style="text-align:center">{L_BLOCK_CURRENTLY_DISABLED}</p>-->
	<!-- ELSE -->
	<div>
        <center>
			<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
				<br />
				<input type="submit" class="button2" name="{L_LOGIN}" value="{L_LOGIN}" /></input>
				<br /><br />
				<p>{L_DONT_HAVE_ACCOUNT}</p>
				<a href="ucp.php?cid=&amp;mode=register">{L_REGISTRATION}</a>
			</form>
		</center>
		<br />
	</div>
	<!-- ENDIF -->
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{IRC_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_irc.html -->