<!-- IDTAG starts block_http_referer.html 12 November 2008 copyright phpbbireland.com 2008 -->
<div class="block_data">
	<div>
		<span style="position: relative; float:left; text-align:left; width:70%;"><b>{L_HTTP_HOST}</b></span>
		<span style="position: relative; float:right; text-align:right; width:30%;"><b>{L_HITS}</b></span>
	</div>
	<div style="clear:both; padding-bottom: 3px;"></div>
	<div class="top_poster" style="clear:both">
		<!-- BEGIN datarow -->
			<span class="bg2" style="position: relative; float:left; text-align:left; width:70%; padding:0;" >
				<a href="{datarow.U_HTTP_HOST}" rel="external" title="{datarow.S_HHTP_HOST_FULL}">{datarow.S_HTTP_HOST}</a>
			</span>
			<span class="bg2" style="position: relative; float:right; text-align:right; width:30%; padding:0; font-weight: bold;">
				{datarow.S_HITS}
			</span>
			<br />
		<!-- END datarow -->
		<div class="hr"><span style="position: relative; float:left; width:99%; padding-bottom:3px;"></span></div>
		<div style="text-align: center;">
			<br />{L_TOT_REF}:&nbsp;<strong>{S_TOT_REF}</strong>
			<br />{L_LIMITS}:&nbsp;<strong>{S_REF_LIMIT}</strong>&nbsp;{L_SHOWN}
		</div>
		<br />
	</div>
	<!-- IF DEBUG_QUERIES -->{TR_PORTAL_DEBUG}<!-- ENDIF -->
</div>
<!-- IDTAG ends block_http_referer -->