<!-- IDTAG block_cloud.html 27 March 2009 copyright phpbbireland.com 2009 -->

<div class="block_data">
	<!-- SWFObject embed by Geoff Stearns geoff@deconcept.com http://blog.deconcept.com/swfobject/ -->
	<script type="text/javascript" src="{ROOT_PATH}styles/js/swfobject.js"></script>

	<!-- for all browsers except IE -->
	<div id="cumuluscontent">
		<p style="display:none;">{CUMULUS}</p>
		<script type="text/javascript">
		//<![CDATA[
			var rnumber = Math.floor(Math.random()*9999999);
			var so = new SWFObject("{T_THEME_PATH}/images/cloud/{CLOUD_MOVIE}?r="+rnumber, "tagcloudflash", {CLOUD_WIDTH}, {CLOUD_HEIGHT}, "9", {CLOUD_BG_COLOUR});
			so.addParam("wmode", {CLOUD_WMODE});
			so.addParam("allowScriptAccess", "always");
			so.addVariable("tcolor", {CLOUD_TCOLOUR});
			so.addVariable("tcolor2", {CLOUD_TCOLOUR2});
			so.addVariable("hicolor", {CLOUD_HICOLOR});
			so.addVariable("tspeed", {CLOUD_SPEED});
			so.addVariable("distr", {CLOUD_DISTR});
			so.addVariable("mode", {CLOUD_MODE});
			so.addVariable({FLASHTAG});
			so.addVariable({CATEGORIES});
			so.write("cumuluscontent");
		//]]>
		</script>
	</div>

	<!-- IF DEBUG_QUERIES -->{B_PORTAL_DEBUG}<!-- ENDIF -->
</div>

<!-- IDTAG ends block_books -->