<div class="block_data">
  <!-- IF maincat.S_ROW_POSITION is even --><!-- ENDIF -->
    <span style="width:50%"><!-- BEGIN rss_left_column --> {rss_left_column.FEEDS_TITLE} {rss_left_column.LEFT_SYNDICATION} <!-- END rss_left_column --></span>
    <span style="width:50%"><!-- BEGIN rss_right_column --> {rss_right_column.FEEDS_TITLE} {rss_right_column.RIGHT_SYNDICATION} <!-- END rss_right_column --></span>
    <!-- IF maincat.S_ROW_POSITION is not even --><br /><!-- ENDIF -->

<!-- IF DEBUG_QUERIES -->{RS_PORTAL_DEBUG}<!-- ENDIF -->
</div>