	<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	   <td align="center">
		<table cellpadding="0" cellSpacing="0">
		  <tr>
		    <td> <IMG SRC="http://www.stargate-portal.com/images/spacer.gif" border="0"></a></td>
		  </tr>
		  <tr>
		    <td align="center"><strong>CONNECT TO:</strong></td>
		  </tr>
		  <tr>
		    <td align="center"><a href="teamspeak://{CONNECT}/?channel=Public Spectators?password={PASSWORD}?nickname={IP}-{USER_NAME}"><IMG SRC="http://www.stargate-portal.com/images/ts.jpg" border="0"></a></td>
		  </tr>
		  <tr>
		    <td align="center"> <IMG SRC="http://www.stargate-portal.com/images/spacer.gif" border="0"></a></td>
		  </tr>
		  <tr>
		    <td><a href="http://www.gametracker.com/server_info/69.46.46.74:51234/" target="_blank"><img src="http://cache.www.gametracker.com/server_info/69.46.46.74:51234/b_160x400_T0_CFFFFFF-C5C5C5-FFFFFF-000000_F-2.png" border="0" width="160" height="275" /></a></td>
		  </tr>
		  <tr>
		    <td align="center"> <IMG SRC="http://www.stargate-portal.com/images/spacer.gif" border="0"></a></td>
		  </tr>
		  <tr>
		    <td align="center"><strong>DOWNLOAD:</strong></td>
		  </tr>
		  <tr>
		    <td align="center"><a href="http://www.teamspeak.com/?page=downloads"><IMG SRC="http://www.stargate-portal.com/images/ts.jpg" border="0"></a></td>
		  </tr>
		</table>
	    </td>
        </tr>
      </table>