<!-- IDTAG starts block_small_adds.html 04 March 2010 copyright phpbbireland.com 2007 -->

<div class="block_data">
	<!-- BEGIN our_mod_small_add_row -->
	<div style="text-align:center; padding-bottom:8px;">
		{our_mod_small_add_row.MOD_DETAILS}
	</div>
		<!-- IF our_mod_small_add_row.U_MOD_SUPPORT -->
			<div style="text-align:center"><a rel="external" href="{our_mod_small_add_row.U_MOD_SUPPORT}">{DOWNLOAD_IMG}</a></div>
		<!-- ENDIF -->
	<!-- END our_mod_small_add_row -->
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{SMALL_ADDS_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_portal_status -->