    <div class="post bg3">
        <div class="inner"><span class="corners-top"><span></span></span>

<!-- IF postrow.PROFILE_POSITION == 'R' -->
        <dl class="postbody" style="min-height: 0; ">
<!-- ELSE -->
        <dl class="postbody_left" style="min-height: 0; ">
<!-- ENDIF -->

         <div class="content" style="text-align:center">
			<br />
				<a href="http://www.bringmadeleinehome.com"><img src="http://www.bringmadeleinehome.com/img/maddy450x124Banner.jpg" alt="Banner1" width="450" height="124" border="0" /></a>
			</div>
        </dl>

<!-- IF postrow.PROFILE_POSITION == 'R' -->
        <dl class="postprofile" style="min-height: 0; ">
<!-- ELSE -->
        <dl class="postprofile_left" style="min-height: 0; ">
<!-- ENDIF -->
            <dd style="text-align: center;">
			<b>Affiliated Link Mod</b>
			<br /><a href = "http://www.startrekguide.com" ><IMG src="./images/links/www.startrekguide.com.gif" WIDTH="88" HEIGHT="31" BORDER=0 ALT="startrekguide"></a>
			<br />Under construction...
            </dd>
        </dl>

        <span class="corners-bottom"><span></span></span></div>
    </div>

    <hr class="divider" />
