<!-- IDTAG starts block_portal_status.html 17 March 2008 copyright phpbbireland.com 2007 -->

<div class="block_data">
	<div style="text-align:center; padding-bottom:8px;">
		<strong>{L_STATUS}</strong>
		<br />{PORTAL_PROGRESS}
	</div>

	<div style="text-align:center; padding-bottom:8px;">
		<strong>{L_LAST_UPDATED}</strong><br />{STATUS_LAST_UPDATE}
	</div>

	<div style="text-align:center;">
		<span class="gensmall">{STATUS_DATA}</span>
	</div>
<!-- IF DEBUG_QUERIES -->{PS_PORTAL_DEBUG}<!-- ENDIF -->
</div>

<!-- IDTAG ends block_portal_status -->