<!-- IDTAG starts block_links.html 09 June 2010 copyright phpbbireland.com 2005-2010 -->
<div class="block_data" style="background:transparent;">
	<div class="link_images">
		{LINKSCONTENT}
	</div>
	<!-- IF SUBMIT_LINK != '' -->
	<div style="text-align:center">
	<a href="{SUBMIT_LINK}" alt="" title="{L_LINKS_FORUM_REQU}" /><img src="./images/links/site/submit_link.gif" height="52px" ></a>
	</div>
	<!-- ENDIF -->
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{LINKS_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_links.html -->