<!-- IF STARGATE -->
<!-- INCLUDE overall_header.html -->

<!-- INCLUDE blocks/blocks_header_left.html -->{P_PAGE_NAME}<!-- INCLUDE blocks/blocks_header_right.html -->
<div class="block_bg_x2">
	<div class="box" style="text-align:center; padding:0;">
		<p><span class="gen">{PORTAL_BODY}</span></p>
	</div>
</div>
<div class="block_bc" style="width:100%;"><span class="block_bl" style="float:left;"></span><span class="block_br" style="float:right;"></span></div>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->