/***
	This code contains all css classes common to all styles... 17 January 2011
	The file is loaded automatically, vars set in functions.php, called in 
	portal_common/portal_header.html. Note, each styles portal.css file can
	over-ride these tags/classes...
**/

/* bbcode...
 ------------------------------------ */ 
.bbb-bold, .bbb-bold a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-bold.gif"); width:22px; height:22px; }
.bbb-bold:hover{ background-position: 0px -23px;}.bbb-quote,
.bbb-italic, .bbb-italic a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-italic.gif");width:22px; height:22px;}
.bbb-italic:hover{ background-position: 0px -23px;}.bbb-quote, 
.bbb-quote a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-quote.gif"); width:22px; height:22px;}
.bbb-quote:hover{ background-position: 0px -23px;}.bbb-code, 
.bbb-code a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-code.gif");width:22px; height:22px;}
.bbb-code:hover{ background-position: 0px -23px;}.bbb-list, 
.bbb-list a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-list.gif");width:22px; height:22px;}
.bbb-list:hover{ background-position: 0px -23px;}.bbb-flash, 
.bbb-flash a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-flash.gif"); width:22px; height:22px;}
.bbb-flash:hover{ background-position: 0px -23px;}.bbb-image, 
.bbb-image a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-image.gif"); width:22px; height:22px;}
.bbb-image:hover{ background-position: 0px -23px;}
.bbb-url, .bbb-url a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-url.gif"); width:22px; height:22px;}
.bbb-url:hover{ background-position: 0px -23px;}
.bbb-under_line, .bbb-under_line a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-under_line.gif");width:22px; height:22px;}
.bbb-under_line:hover{ background-position: 0px -23px;}
.bbb-align_center, .bbb-align_center a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_center.gif");width:22px; height:22px;}
.bbb-align_center:hover{ background-position: 0px -23px;}
.bbb-align_left, .bbb-align_left a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_left.gif");width:22px; height:22px;}
.bbb-align_left:hover{ background-position: 0px -23px;}
.bbb-align_right, .bbb-align_right a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_right.gif");width:22px; height:22px;}
.bbb-align_right:hover { background-position: 0px -23px;}
.bbb-ordered_list, .bbb-ordered_list a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-ordered_list.gif");width:22px; height:22px;}
.bbb-ordered_list:hover{ background-position: 0px -23px;}
.bbb-add_list_item, .bbb-add_list_item a { background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-add_list_item.gif"); width:22px; height:22px;}
.bbb-add_list_item:hover { background-position: 0px -23px;}
.bbb-note, .bbb-note a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-note.gif");width:22px; height:22px;}
.bbb-note:hover { background-position: 0px -23px;}
.bbb-spoiler, .bbb-spoiler a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spoiler.gif"); width:22px; height:22px;}
.bbb-spoiler:hover{ background-position: 0px -23px;}
.bbb-tab, .bbb-tab a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-tab.gif"); width:22px; height:22px;}
.bbb-tab:hover{ background-position: 0px -23px;}
.bbb-sup, .bbb-sup a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sup.gif"); width:22px; height:22px;}
.bbb-sup:hover{ background-position: 0px -23px;}
.bbb-sub, .bbb-sub a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-sub.gif"); width:22px; height:22px;}
.bbb-sub:hover{ background-position: 0px -23px;}
.bbb-strike, .bbb-strike a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-strike.gif");width:22px; height:22px;}
.bbb-strike:hover { background-position: 0px -23px;}
.bbb-link, .bbb-link a{ background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-link.gif");width:22px; height:22px;}
.bbb-link:hover { background-position: 0px -23px;}
.rollover, .rollover a { display: inline; float:left; } .rollover a:hover { background-position: 0 -23px; }
.bbb-icon-spacer {background : transparent; border:none; background-image: url("./../../../images/bbcode/bbb-icon-spacer.gif"); width:3px; height:22px;}


/* Code of the random video block 13 January 2011
 ------------------------------------ */ 

.video_back {
margin: 0 auto;
text-align:center;
width:430px; height:356px;
background: url(images/one_video.png) top left repeat;
/*border:solid 1px #98AAB1;*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}
.video_info {
background: #D8D8D8;
margin: 0 auto;
padding: 5px;
text-align:center;
width:430px; height:70px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

/*	Code to restrict image sizes in posts etc...
	If you need to restrict for other pages add the css tag here...
 ---------------------------------------------------------------------- */

.content img {max-width:600px;}
.postbody img {max-width:600px;}


/*	acronyms/local_acronym classes common to all styles...
	Styles can override colours etc in their own portal.css file...
	If the classes are not defines, we use this default code...
 ---------------------------------------------------------------------- */ 

abbr, acronym, local_acronym {
font-weight: bold;
text-decoration: overline;
cursor: help;
}

.acronym {
background:#FFFFCC
}

acronym, local_acronym{
font-style:italic;
font-weight:bold;
border-bottom:1px #BD5121 dashed ;
color:#459B37;
cursor: help;
}

local_acronym{
font-style:italic;
font-weight:bold;
border-bottom:1px #BD5121 dashed ;
color:#A20000;
cursor: help;
text-decoration: none;
}



/*	
 ---------------------------------------------------------------------- */
.bsw_b_img {
float:left;
width:33px;
height:33px;
margin-top:10px;
margin-bottom:10px;
background: url(images/birthdays.png) top left no-repeat;
padding-right:15px;
}
.bsw_s_img {
float:left;
width:33px;
height:33px;
margin-top:10px;
margin-bottom:10px;
padding-right:15px;
background: url(images/statistics.png) top left no-repeat;
}
.bsw_w_img {
float:left;
width:33px;
height:33px;
margin-top:30px;
padding-right:10px;
margin-bottom:10px;
background: url(images/whosonline.gif) top left no-repeat;
}
.bsw_content { 
margin-left:45px;
padding:5px;
padding-left:0px;
min-height:40px;
}

.bsw_mini_img {padding-top: 1px}


/*	small images used in categories block
  ---------------------------------------------------------------------- */
.smallimage {
	width:25px; 
	height:25px; 
	float:left;
	margin-right:5px; margin-bottom:5px;
	position:relative;
}


/*	round corners code
 ---------------------------------------------------------------------- */
.sgp-corners {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
-khtml-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}
.sgp_corners_tl {
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
border-top-left-radius: 6px;
}
.sgp_corners_tr {
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topright: 6px;
border-top-right-radius: 6px;
}
.sgp_corners_bl {
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-left-radius: 6px;
}
.sgp_corners_br {
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-bottomright: 6px;
border-bottom-right-radius: 6px;
}

.sgp-corners-top {
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

/*.panel {background-color: #660000;}*/





/*	sdMenu Stu
 -------------------------------------- */
div.sdmenu div {
overflow: hidden;
font-weight: bold;
}
div.sdmenu div.collapsed {
height: 18px;
}
div.sdmenu span {
display: block;
padding: 2px 6px;
cursor: default;
}
.sub_heading {
color: #A7A7AD;
font-size:12px;
font-family: Comic Sans MS, Sans-Serif;
font-weight: bold;
padding-top:5px;
padding-bottom:5px;
text-align:left;
}


/*	NeXur's bable translation block
 -------------------------------------- */
.translate_head {
text-align:center;
color: #2E5B82;
padding:5px;
}
div.trans div a.current {
background : #ccc;
}
div.trans div a:hover {
background : #ECECEC url("./images/linkarrow.gif") no-repeat right center;
color: #DE1717;
text-decoration: none;
}
div.trans div a {
width:97%; /* width auto ? IE FIX */ 
padding:2px;
background: #fff;
display: block;
color: #2E5B82;
}
.translate_reset {
 text-align:center;
 padding-top:5px;
}


/*	scroll Stu
 -------------------------------------- */
div.scroll_outer {
z-index: 1;
position: relative;
overflow: hidden;
}
div.scroll_inner {
position: absolute;
z-index: 2;
	height:auto;
	width:100%;
}

/*	Johnnytheone Header Menus
 -------------------------------------- */

#menuwrapper {
border-bottom: 1px solid #B4C6DB;
width: 100%;
margin-top: 2px;
background-image: url('./images/cellpic_nav.gif');
background-repeat: repeat-x;
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */
#header-nav li li {
width: 200px;
}

/* Unless you know what you do, do not touch this */
#header-nav, #header-nav ul {
list-style: none;
margin: 0px;
padding: 0px;
}
#header-nav ul {
position: absolute;
top: auto;
display: none;
}
#header-nav ul ul {
margin-top: 1px;
margin-left: -1px;
left: 100%;
top: 0px;
}
#header-nav li {
margin-left: -1px;
float: left;
}
#header-nav li li {
margin-left: 0px;
margin-top: -1px;
float: none;
position: relative;
}



/*	Fixed that are common to all styles 
 -----------------------------------------------*/

/*	li fix for new and announcements	
 ---------------------------*/
	.news li, .news ol, .news ul {
	margin: 0 0 0 1.5em;
}


/*
table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	width:100%;
	margin:1% auto 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
padding: 10px;
margin-bottom:10px;
}
*/

.pad span {line-height:135%}
.pad {line-height:135%}