<!-- IDTAG rules starts -->
<!-- INCLUDE overall_header.html -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<div class="block_header">
				<span class="handle">
				{L_BASIC_RULES_HEADER} &nbsp; (<!-- BEGIN basic_rules -->{L_UPDATED} {basic_rules.TO_DAY}<!-- END basic_rules -->)
				</span>
			</div>
			<div class="box">
				<span class="rules">
					<!-- BEGIN basic_rules -->
					{basic_rules.BASIC_RULES} <br />
					<!-- END basic_rules -->
				</span>
			</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
<!-- IDTAG rules ends -->