<!-- IF STARGATE -->
	<script type="text/javascript">
	function expMenu(id)
	{
		var element = null;
		if (document.getElementById)
		{
			element = document.getElementById(id);
		}
		else if (document.all)
		{
			element = document.all[id];
		}
		else if (document.layers)
		{
			element = document.layers[id];
		}

		if (!element)
		{
			// do nothing
		}
		else if (element.style)
		{
			if (element.style.display == "none")
			{
				element.style.display = "";
				return 1;
			}
			else
			{
				element.style.display = "none";
				return 2;
			}
		}
		else
		{
			element.visibility = "show";
			return 1;
		}
	}
	</script>

	<div>
	<!-- IF S_SHOW_LEFT_BLOCKS -->
		<span style="display:none;" id="left_blocks_col_hide">
			<a href="javascript:ShowHide('left'); ShowHide('left_blocks_col_hide'); ShowHide('left_blocks_col_show');" title="Show Blocks"><img src="images/slide1.png" width="12" height="10" alt="" class="left_blocks_col_show" /></a>
		</span>
		<span style="display:inline;" id="left_blocks_col_show">
			<a href="javascript:ShowHide('left'); ShowHide('left_blocks_col_show'); ShowHide('left_blocks_col_hide');" title="{L_TEMPORARILY_HIDE_BLOCKS}"><img src="images/slide2.png" width="12" height="10" alt="" class="left_blocks_col_show" /></a>
		</span>
	<!-- ENDIF -->
	<!-- IF S_SHOW_RIGHT_BLOCKS -->
		<span style="display:none; float:right;" id="right_blocks_col_hide">
			<a href="javascript:ShowHide('right'); ShowHide('right_blocks_col_hide'); ShowHide('right_blocks_col_show');" title="Show Blocks"><img src="images/slide2.png" width="12" height="10" alt="" class="right_blocks_col_show" /></a>
		</span>
		<span style="display:inline; float:right;" id="right_blocks_col_show">
			<a href="javascript:ShowHide('right'); ShowHide('right_blocks_col_show'); ShowHide('right_blocks_col_hide');" title="{L_TEMPORARILY_HIDE_BLOCKS}"><img src="images/slide1.png" width="12" height="10" alt="" class="right_blocks_col_show" /></a>
		</span>
	<!-- ENDIF -->
	</div>

	<table border="0" cellpadding="0" cellspacing="0" style="table-layout:auto; width:100%;" class="<!-- IF S_SHOW_LEFT_BLOCKS or S_SHOW_RIGHT_BLOCKS -->bottom_gap<!-- ELSE -->none<!-- ENDIF -->">
		<tr>
			<!-- IF S_SHOW_LEFT_BLOCKS -->
			<td valign="top" style="width:{BLOCK_WIDTH}; padding-right:15px;" id="left">
				<!-- INCLUDE portal_layout_left.html -->
			</td>
			<!-- ENDIF -->
			<td valign="top" id="center">
<!-- ENDIF -->