<!--
	This file is common to all styles...
	portal_header.html 29 December 2008 19:01 starts
-->

<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="{ROOT_PATH}styles/js/sdmenu.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/scroller.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/prototype.js"></script>

<!-- IF S_IS_PORTAL and S_ARRANGE -->
<script type="text/javascript" src="{ROOT_PATH}styles/js/scriptaculous.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/builder.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/effects.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/dragdrop.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/controls.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/slider.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/unittest.js"></script>
<!-- ENDIF -->

<script type="text/javascript" src="{ROOT_PATH}mp3/ufo.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/portal.js"></script>
<script type="text/javascript" src="{ROOT_PATH}styles/js/forum_fn.js"></script>

<!-- Style Sheet Switcher v1.1- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com) -->
<script type="text/javascript" src="{ROOT_PATH}styles/js/styleswitch.js"></script>

<script type="text/javascript" src="{ROOT_PATH}styles/highslide/highslide-full.packed.js"></script>
<link rel="stylesheet" type="text/css" href="{ROOT_PATH}styles/highslide/highslide.css" />

<script type="text/javascript">
	hs.graphicsDir = '{ROOT_PATH}styles/highslide/graphics/';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.outlineType = 'glossy-dark';
	hs.wrapperClassName = 'dark';
	hs.fadeInOut = true;
	//hs.dimmingOpacity = 0.75;

	// Add the controlbar
	if (hs.addSlideshow) hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .6,
			position: 'bottom center',
			hideOnMouseOut: true
		}
	});
</script>
<!-- portal_header.html 10 March 2008 08:32 ends -->

<!-- if ie 5 or 6 -->
<!--[if lte IE 7]>
<script defer type="text/javascript" src="{ROOT_PATH}styles/js/pngfix.js"></script>
<![endif]-->

<!-- load portal css last -->
<link rel="stylesheet" href="{T_STYLESHEET_PORTAL}" type="text/css" />

<!-- INCLUDE portal_sizer.html -->

<script type="text/javascript">
//<![CDATA[

var debug = 0;

if (/MSIE (\d+\.\d+);/.test(navigator.userAgent))
{
	var ieversion=new Number(RegExp.$1)

	if(debug)
		document.write("IE " + ieversion)

	document.write('<link rel="stylesheet" href="{T_THEME_PATH}/fix_ie.css" type="text/css" />');
}
else
if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent))
{
	var ffversion=new Number(RegExp.$1)

	if(debug)
		document.write("Firefox " + ffversion);

	document.write('<link rel="stylesheet" href="{T_THEME_PATH}/fix_ff.css" type="text/css" >');

	if(ffversion > 3)
		document.write('<style type="text/css">.showhide { float: right; margin-top: 0px; margin-right: 0px; }</style>');
	else
		document.write('<style type="text/css">.showhide { float: right; margin-top: -15px; margin-right: -1px; }</style>');

}
else
if (/Opera[\/\s](\d+\.\d+)/.test(navigator.userAgent))
{
	var oprversion=new Number(RegExp.$1)

	if(debug)
		document.write("Opera " + oprversion)

	document.write('<link rel="stylesheet" href="{T_THEME_PATH}/fix_opera.css" type="text/css" >');
}
else
if (/Safari[\/\s](\d+\.\d+)/.test(navigator.userAgent))
{
	var oprversion=new Number(RegExp.$1)

	if(debug)
		document.write("Safari " + oprversion);

	document.write('<link rel="stylesheet" href="{T_THEME_PATH}/fix_mac.css" type="text/css" >');
}
else
if(debug)
	document.write("Unknown browser!");
//]]>
</script>
<!-- agent script end -->



<script type="text/JavaScript">
// match all instances of 'external'
document.observe("dom:loaded", function() {
	$$("a[rel~=external]").each(function(el) {
		el.observe("click", function(event) {
			window.open(this.href);
			event.preventDefault();
		});
	});
});
</script>
<!-- portal_header.html ends -->