<!-- IF STARGATE -->
	<!-- INCLUDE overall_header.html -->
	<div>
		<div class="block_body">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				<div class="block_header">
					<div style="text-align:{S_CONTENT_FLOW_BEGIN};">&nbsp;{P_PAGE_DESC}&nbsp;</div>
					<span class="showhide" id="_{center_block_files.CENTER_BLOCK_ID}">
					<!-- IF not S_ARRANGE -->
						{center_block_files.CENTER_BLOCK_IMG}
					<!-- ENDIF -->
					</span>
				</div>

				<!-- IF PORTAL_BODY == 'file=block_styles_status_alt.html' -->
					<div class="box"><!-- INCLUDE blocks/block_styles_status_alt.html --></div>
				<!-- ELSE -->
				<div class="box" style="text-align:center; padding:10px;"><p><span class="gen">{PORTAL_BODY}</span></p></div>
				<!-- ENDIF -->

				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
	</div>
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->