<!-- INCLUDE overall_header.html -->
<!-- BEGIN mypage -->
<!-- INCLUDE blocks/blocks_header_left.html -->{L_INPROGRESS} : {mypage.MY_PAGE_NAME} ({mypage.MY_DATE})<!-- INCLUDE blocks/blocks_header_right.html -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<div class="box">
				<span class="rules">
					<br />{mypage.MY_DATA}<br /><br />
				</span>
			</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- END mypage -->
<!-- INCLUDE overall_footer.html -->