<!-- portal_sizer.html -->
<script type="text/JavaScript">

/***
*  Copyright phpbbireland 2008 (Michaelo)
*
*  Automatically load a css file based on the width of the browser window.
*  This will correct subsilver stretching when post contain the (code=php) bbcode.
*
***/
<!--
	var iwidth = window.innerWidth != null ? window.innerWidth : document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body != null ? document.body.clientWidth : null;
	var size = ((iwidth - 264) - 180);
    document.write('<style type="text/css">.codecontent, .codetitle { width:auto; max-width:'+size+'px; overflow:auto; }</style>');
-->
</script>