<!-- IF STARGATE -->
<!-- INCLUDE overall_header.html -->

<!-- IDTAG starts block_vars_display.html 13 September 2007 copyright phpbbireland.com 2007 -->
<div class="block_data" style="text-align:left; float:left; font-size:1.2em;">

<table style="padding:2px;">
	<tr><td align="center" colspan="2"><strong>All common vars are now available to all block code...</strong><hr /></td></tr>
	<tr>
		<td valign="top">
			<span class="pad">
			SITENAME<hr />
			SITE_DESCRIPTION<hr />
			STARGATE_VERSION<hr />
			STARGATE<hr />
			PAGE_TITLE<hr />
			SCRIPT_NAME<hr />
			LAST_VISIT_DATE<hr />
			LAST_VISIT_YOU<hr />
			CURRENT_TIME<hr />
			TOTAL_USERS_ONLINE<hr />
			LOGGED_IN_USER_LIST<hr />
			RECORD_USERS<hr />
			TOTAL_POSTS<hr />
			S_USER_NEW_PRIVMSG<hr />
			S_USER_UNREAD_PRIVMSG<hr />
			S_USER_NEW<hr />
			ROOT_PATH<hr />
			BOARD_URL<hr />
			U_PRIVATEMSGS<hr />
			U_RETURN_INBOX<hr />
			U_POPUP_PM<hr />
			UA_POPUP_PM<hr />
			U_MEMBERLIST<hr />
			U_VIEWONLINE<hr />
			U_INDEX<hr />
			U_SEARCH<hr />
			U_REGISTER<hr />
			U_PROFILE<hr />
			U_FAQ<hr />
			U_SEARCH_SELF<hr />
			U_SEARCH_NEW<hr />
			U_SEARCH_UNANSWERED<hr />
			U_SEARCH_UNREAD<hr />
			U_SEARCH_ACTIVE_TOPICS<hr />
			U_TEAM<hr />
			U_TERMS_USE<hr />
			U_FEED<hr />
			</span>
		</td>

		<td valign="top">
			<span class="pad">
			{SITENAME}<hr />
			{SITE_DESCRIPTION}<hr />
			{STARGATE_VERSION}<hr />
			{STARGATE}<hr />
			{PAGE_TITLE}<hr />
			{SCRIPT_NAME}<hr />
			{LAST_VISIT_DATE}<hr />
			{LAST_VISIT_YOU}<hr />
			{CURRENT_TIME}<hr />
			{TOTAL_USERS_ONLINE}<hr />
			{LOGGED_IN_USER_LIST}<hr />
			{RECORD_USERS}<hr />
			{TOTAL_POSTS}<hr />
			{S_USER_NEW_PRIVMSG}<hr />
			{S_USER_UNREAD_PRIVMSG}<hr />
			{S_USER_NEW}<hr />
			{ROOT_PATH}<hr />
			{BOARD_URL}<hr />
			{U_PRIVATEMSGS}<hr />
			{U_RETURN_INBOX}<hr />
			{U_POPUP_PM}<hr />
			{UA_POPUP_PM}<hr />
			{U_MEMBERLIST}<hr />
			{U_VIEWONLINE}<hr />
			{U_INDEX}<hr />
			{U_SEARCH}<hr />
			{U_REGISTER}<hr />
			{U_PROFILE}<hr />
			{U_FAQ}<hr />
			{U_SEARCH_SELF}<hr />
			{U_SEARCH_NEW}<hr />
			{U_SEARCH_UNANSWERED}<hr />
			{U_SEARCH_UNREAD}<hr />
			{U_SEARCH_ACTIVE_TOPICS}<hr />
			{U_TEAM}<hr />
			{U_TERMS_USE}<hr />
			{U_FEED}<hr />
			</span>
		</td>
	</tr>
</table>

<table style="padding:2px;">
	<tr><td align="center" colspan="2"><strong>Theme Info:</strong><hr /></td></tr>
	<tr>
		<td valign="top">
			<span class="pad">
			T_THEME_PATH<hr />
			T_TEMPLATE_PATH<hr />
			T_SUPER_TEMPLATE_PATH<hr />
			T_IMAGESET_PATH<hr />
			T_IMAGESET_LANG_PATH<hr />
			T_IMAGES_PATH<hr />
			T_SMILIES_PATH<hr />
			T_AVATAR_PATH<hr />
			T_AVATAR_GALLERY_PATH<hr />
			T_ICONS_PATH<hr />
			T_RANKS_PATH<hr />
			T_STYLESHEET_NAME<hr />
			T_THEME_NAME<hr />
			T_TEMPLATE_NAME<hr />
			T_SUPER_TEMPLATE_NAME<hr />
			T_IMAGESET_NAME<hr />
			T_IMAGESET_LANG_NAME<hr />
			<span>
		</td>
		<td valign="top">
		<span class="pad">
		{T_THEME_PATH}<hr />
		{T_TEMPLATE_PATH}<hr />
		{T_SUPER_TEMPLATE_PATH}<hr />
		{T_IMAGESET_PATH}<hr />
		{T_IMAGESET_LANG_PATH}<hr />
		{T_IMAGES_PATH}<hr />
		{T_SMILIES_PATH}<hr />
		{T_AVATAR_PATH}<hr />
		{T_AVATAR_GALLERY_PATH}<hr />
		{T_ICONS_PATH}<hr />
		{T_RANKS_PATH}<hr />
		{T_STYLESHEET_NAME}<hr />
		{T_THEME_NAME}<hr />
		{T_TEMPLATE_NAME}<hr />
		{T_SUPER_TEMPLATE_NAME}<hr />
		{T_IMAGESET_NAME}<hr />
		{T_IMAGESET_LANG_NAME}<hr />
		<span>
	</td>
</tr></table>

<table>
	<tr><td align="center" colspan="2"><strong>Block files listing:</strong><hr /></td></tr>
	<tr>
		<td valign="top"><!-- BEGIN isl --><span class="pad">{isl.ISLFILE}</span><hr /><!-- END isl --></td>
		<td valign="top"><!-- BEGIN osl --><span class="pad">{osl.OSLFILE}</span><hr /><!-- END osl --></td>
	</tr>
</table>

<br />
<br />
<br />

</div>
<div class="block_data">
	<!-- IF DEBUG_QUERIES -->{SGP_DEBUG_VD}<!-- ENDIF -->
</div>
<!-- IDTAG block_menus ends -->

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
