<div class="block_data">
<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center">
			<table cellpadding="0" cellSpacing="0">
				<tr>
					 <td><a href="{FACEBOOK}"><img src="{ROOT_PATH}images/follow_us/facebook.png" alt="" /></a></td>
				</tr>
				<tr>
					 <td><a href="{TWITTER}"><img src="{ROOT_PATH}images/follow_us/twitter.png" alt="" /></a></td>
				</tr>
				<tr>
					 <td><a href="{STEAM}"><img src="{ROOT_PATH}images/follow_us/steam.png" alt="" /></a></td>
				</tr>
				<tr>
					 <td><a href="{XFIRE}"><img src="{ROOT_PATH}images/follow_us/xfire.png" alt="" /></a></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
