<!-- IDTAG block_welcome starts 13 September 2008 -->
<div class="block_data">
   <div style="text-align:center;">
		<!-- IF W_LINK --><a href="{W_LINK}" class="resize"><span style="text-align:center;"><img src="{ROOT_PATH}images/{W_IMAGE}" alt="" /></span></a><!-- ENDIF -->
		<br />
		<span class="gen">{W_MESSAGE}</span>
	</div>
	<!-- IF DEBUG_QUERIES -->{WM_DEBUG}<!-- ENDIF -->
</div>
<!-- IDTAG block_welcome ends -->


<!-- IF DEBUG_QUERIES --><div class="block_data">{WELCOME_MESSAGE_DEBUG}</div><!-- ENDIF -->