<!-- IDTAG starts block_small_adds.html 04 March 2010 copyright phpbbireland.com 2007 -->

<!--

<div class="block_data">
	<!-- BEGIN our_one_video_row -->
		<div style="text-align:center; padding-bottom:8px;">
			{our_one_video_row.MOD_DETAILS}
		</div>
		<!-- IF our_one_video_row.U_MOD_SUPPORT -->
			<div style="text-align:center"><a rel="external" href="{our_our_one_video_row_row.U_MOD_SUPPORT}">{DOWNLOAD_IMG}</a></div>
		<!-- ENDIF -->
	<!-- END our_mod_small_add_row -->
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{ONE_VIDEO_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_portal_status -->

-->


<!--
<div class="" style="text-align:center; padding-top: 5px; padding-bottom: 10px;">
	<object width="416" height="337">
		<param name="movie" value="http://www.youtube.com/cp/vjVQa1PpcFO3dYOgXcycHk47AZKX-hi9s5kbWBGbxmE="></param>
		<embed src="http://www.youtube.com/cp/vjVQa1PpcFO3dYOgXcycHk47AZKX-hi9s5kbWBGbxmE=" type="application/x-shockwave-flash" width="416" height="337"></embed>
	</object>
</div>
-->




<div class="video_back">
	<div style="margin: 0 auto; padding-top:8px;">
		<object width="416" height="337">
			<param name="movie" value="{VIDEO_PATH}{VIDEO_LINK}"></param>
			<embed src="http://www.youtube.com/{VIDEO_PATH}{VIDEO_LINK}" type="application/x-shockwave-flash" width="416" height="337"></embed>
		</object>
	</div>
</div>
<br />
<!--
<div class="video_info" style="height:{VIDEO_HEIGHT}px">
	<div>
		<strong><a href="{VIDEO_PATH}{VIDEO_LINK}">{VIDEO_TITLE}</a></strong>
		<br />
		<strong>{VIDEO_WHO} {VIDEO_RATING}</strong>
		<br />
		<strong>{VIDEO_POSTER}</strong> {VIDEO_COMMENT}
	</div>
</div>
-->

