<!-- IDTAG block_stats.html starts 21 August 2006 -->
<!-- INCLUDE blocks/blocks_header_left.html -->{L_STATISTICS} <img src="{T_THEME_PATH}/images/mini_statistics.gif" height="12" width="14" alt="{L_STATISTICS}" /><!-- INCLUDE blocks/blocks_header_right.html -->
<div class="block_bg_x2">
<div class="box" style="text-align:left; padding:0;">
	<span class="bsw_s_img"></span>
	<div class="bsw_content" >
		<br />{TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} | {NEWEST_USER}<br />
		<!-- IF DEBUG_QUERIES -->{S_DEBUG}<!-- ENDIF -->
	</div>
</div>
</div>
<div class="block_bc" style="width:100%;"><span class="block_bl" style="float:left;"></span><span class="block_br" style="float:right;"></span></div>
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- IDTAG block_stats.html ends -->