<!-- IDTAG starts block_portal_status.html 17 March 2008 copyright phpbbireland.com 2007 -->

<span class="block_data">
	<div style="text-align:center;">{PORTAL_PROGRESS}</div>
	<h4 style="text-align:center; padding-top:5px;">phpBBportal Revision <br />28th, January 2008</h4>
	<div style="text-align:center;">
		<!-- BEGIN portal_status_row -->
			<h4 style="text-align:center; padding:2px; padding-top:8px;">{portal_status_row.MESSAGE_TITLE}</h4>
			<span class="gensmall">{portal_status_row.MESSAGE}</span>
		<!-- END portal_status_row -->
		<br />
	</div>
</span>

<!-- IDTAG ends block_portal_status -->