<span class="block_data">

	<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
	<div style="text-align:center; width:100%;">
			<a href="./blocks/block_irc_popup.php" onClick="window.open('','popup','toolbar=0,resizable=1,location=0,status=0,menubar=0,scrollbars=0,width=550,height=450,left=210,screenX=210,top=60,screenY=60')" Target="popup" title="{L_IRC_POPUP}"><span></span>{L_IRC_POPUP}</a>
	</div>
	<!-- ELSE -->
	<p style="text-align:center;" class="gensmall">{L_DONT_HAVE_ACCOUNT}<a href="ucp.php?cid=&amp;mode=register">{L_REGISTRATION}</a></p>
<!-- ENDIF -->

</span>