<!-- IDTAG starts block_search.html 17 March 2008 copyright phpbbireland.com 2007 -->

<script type="text/javascript">
<!--
//keywords = document.search_block.keywords.value; 
function url_search() 
{
	switch( document.search_block.search_engine.value )
	{
		case 'site':	break;
		case 'author':
						window.open('search.php?author=' + document.search_block.keywords.value, '_self', '');
						return false;

		case 'advanced':
						window.open('search.php', '_self', '');
						return false;
		case 'google':
						window.open('http://www.google.com/search?q=' + document.search_block.keywords.value, '_google', '');
						return false;
		case 'yahoo':
						window.open('http://search.yahoo.com/search?p=' + document.search_block.keywords.value, '_yahoo', '');
						return false;
		case 'altavista':
						window.open('http://www.altavista.com/web/results?itag=ody&q=' + document.search_block.keywords.value + '&kgs=0&kls=0', '_altavista', '');
						return false;
		case 'lycos':
						window.open('http://search.lycos.com/?query=' + document.search_block.keywords.value, '_lycos', '');
						return false;
		default:		break;
	}
	return true;
}
//-->
</script> 

<form method="get" name="search_block" action="{U_SEARCH}" onsubmit="return url_search()">
	<span class="block_data">
		<div align="center">
			<input class="inputbox search" type="text" name="keywords" size="21" />{S_HIDDEN_FIELDS}
		</div>
		<img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="99%" height="8px" />
		<div align="center">
			<select class="inputbox full" style="font-size:11px; padding:2px;" name="search_engine" >
                <optgroup style="background-color: #FBFDF0;" label="{SITE_NAME}">
					<option value="site" style="font-size:11px;" >{SITE_NAME}</option>
					<option value="site">{L_POSTS}</option>
				    <option value="author">{L_AUTHOR}</option>
					<option value="advanced">{L_ADVANCED_SEARCH}</option>
			    </optgroup>
                <optgroup style="background-color: #FBFDF0; font-size:12px;" label="Search Engine">
		            <option value="google">Google</option>
			        <option value="yahoo">Yahoo</option>
					<option value="altavista">Altavista</option>
			        <option value="lycos">Lycos</option>
                </optgroup> 
			</select>
		</div>
		<br />
		<div align="center">
			<input type="hidden" name="search_fields" value="all" />
			<input type="hidden" name="show_results" value="topics" />
			<input class="button1" type="submit" value="{L_SEARCH}" />
			<br /><br />
			<a href="{U_SEARCH}">{L_ADVANCED_SEARCH}</a>
		</div>
	</span>
</form>

<!-- IDTAG ends block_search -->