<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
<!-- INCLUDE blocks/blocks_header_left.html --><img src="{T_THEME_PATH}/images/mini_birthday.gif" alt="{L_BIRTHDAYS}" /> {L_BIRTHDAYS}<!-- INCLUDE blocks/blocks_header_right.html --> 
<div class="box" style="text-align:left;">
	<!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS} <!-- ENDIF -->
</div>
				<div class="block_bc" style="width:100%;">
					<span class="block_bl" style="float:left;"><img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="20px" height="6px" /></span>
					<span class="block_br" style="float:right;"><img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="20px" height="6px" /></span>
				</div>
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- ENDIF -->