<!-- IDTAG block_announcements.html 17 March 2008 copyright phpbbireland.com 2007 -->

<span class="news">
	<div>
		<a id="astart" name="top" accesskey="t"></a>

		<!-- BEGIN fetch_announce_row -->
			<!-- IF fetch_announce_row.S_NO_TOPICS -->
				<center><span class="genmed"><strong>{L_NO_NEWS}</strong></span></center>
			<!-- ELSE -->
				<!-- IF fetch_announce_row.S_TOPIC_TYPE != 3 -->
					<div class="myannounce <!-- IF fetch_announce_row.S_ROW_COUNT is even -->bg1a<!-- ELSE -->bg2a<!-- ENDIF -->">
				<!-- ELSE -->
				<div class="myannounce bg3a">
				<!-- ENDIF -->

				<div class="inner" style="min-height:90px;">
					<span class="corners-top-news"><span></span></span>
					
					<div class="news" style="width:100%;">
						<span class="news_title"> {fetch_announce_row.TITLE}</span>
						<span class="news_poll">  </span>
						<span class="news_time">  {fetch_announce_row.TIME}</span>
					</div>

					<div style="width:100%; padding-top: 20px; padding-bottom: 20px;">
						<span class="news" style="float:left; text-align:left; width:90%;">{fetch_announce_row.TEXT}</span>
						<span class="news_image" style="float:right; text-align:right; width:50px; padding-top:13px; padding-right:10px;">
							<img class="forum_icons" src="./images/forum_icons/announce.png" width="48px" height="48px" alt="" />
						</span>
					</div>

					<br clear="all" />
					<div style="width:100%;"><hr /></div>
					
					<div style="width:100%;">
						<span class="news_poster" style="width:50%"> {L_POSTED_BY}: {fetch_announce_row.POSTER}</span>
						<span class="news_reply" style="width:50%">
							<a href="{fetch_announce_row.U_VIEW}"> {fetch_announce_row.U_VIEW_IMG}</a>
							<a href="{fetch_announce_row.U_PRINT}"> {fetch_announce_row.U_PRINT_IMG}</a>
							<!-- IF fetch_announce_row.ALLOW_POST -->
								<a href="{fetch_announce_row.U_REPLY}"> {fetch_announce_row.U_REPLY_IMG}</a>
							<!-- ENDIF -->
							<a href="#astart" title="Top"><img src="{T_IMAGESET_PATH}/icon_back_top.gif" width="14" height="14" alt="Top" /></a>
						</span>
					</div>

					<span class="corners-bottom-news"><span></span></span>
				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF fetch_announce_row.S_NOT_LAST --><br /><!-- ENDIF -->
		<!-- END fetch_announce_row -->
	</div>
</span>
