<!-- IDTAG starts block_the_team.html copyright phpbbireland.com 2007 -->

<span class="block_data">
	<div><span style="position: relative; float:left; width:100%;"><b>{L_ADMINISTRATORS}</b></span></div>
	<div><span style="position: relative; float:left; width:100%; padding-bottom:3px;"><hr /></span></div>
	<!-- BEGIN admin -->
	<div style="text-align:center;">
		<span style="position: relative; float:left; "><img src="{T_THEME_PATH}/images/admins.png" alt="" /> <strong>{admin.USERNAME_FULL}</strong></span>
		<span style="position: relative; float:right; padding-top: 4px; ">{admin.COUNTRY_FLAG_IMG}</span>
		<br clear="both" />
	</div>
	<!-- BEGINELSE -->
	<div style="text-align:center;">
		<span style="position: relative; float:left;">{L_NO_ADMINS}</span>
		<span style="position: relative; float:right;">{admin.COUNTRY_FLAG_IMG}</span>
		<br clear="both" />
	</div>
	<!-- END admin -->
	<div><br /><span style="float:left; width:100%;"><b>{L_MODERATORS}</b></span></div>
	<div><span style="position: relative; float:left; width:100%; padding-bottom:3px;"><hr /></span></div>
	<!-- BEGIN mod -->
	<div style="text-align:center;">
		<span style="position: relative; float:left;  "><img src="{T_THEME_PATH}/images/mods.png" alt="" /> <strong>{mod.USERNAME_FULL}</strong></span>
		<span style="position: relative; float:right; padding-top: 4px; ">{mod.COUNTRY_FLAG_IMG}</span>
		<br clear="both" />
	</div>
	<!-- BEGINELSE -->
	<div style="text-align:center;">
		<span style="position: relative; float:left;">{L_NO_MODS}</span>
		<br clear="both" />
	</div>
	<!-- END mod -->
	<br />
</span>

<!-- IDTAG ends block_the_team.html -->