<script language="javascript" type="text/javascript">
<!--
	function close_popup()
	{
		if (opener != null)
		{
			if (opener.close_waitscreen != null)
			{
				if (opener.close_waitscreen == 1)
				{
					opener.close_waitscreen = 0;
					self.close();
					return 0;
				}
			}
		}
		setTimeout("close_popup()", 1000);
		return 0;
	}
//-->
</script>

<!-- INCLUDE simple_header.html -->
<dd style="text-align:center;">
{L_PROCESSING}<br /><br /><div style="align:center">{PROGRESS_BAR}</div><br /><br /><span class="genmed"><a href="javascript:window.close();">{L_CLOSE_WINDOW}</a></span><br /><br />
</dd>

<!-- INCLUDE simple_footer.html -->

<script language="javascript" type="text/javascript">
<!-- 
	close_popup();	
//-->
</script>
