<!-- IDTAG starts block_top_topics.html 22 October 2008 copyright phpbbireland.com 2008 -->
<span class="block_data">
	<div>
	<!-- IF S_AGE -->
	<table width="100%" cellpadding="4" cellspacing="1" border="0" class="inner" style="border:none;">
	<tr>
		<td class="bg1" align="left"><span class="gen"><b>{L_AGE_RANGE}</b></span></td>
		<td class="bg1" align="right"><span class="gen"><b>{L_COUNT}&nbsp;-<br />{L_PERCENT}</b></span></td>
	</tr>
	<tr><td class="bg1"><hr /></td><td class="bg1"><hr /></td></tr>
		<!-- BEGIN age_row -->
		<tr<!-- IF age_row.IS_MAX--> style="font-weight:bold"<!-- ENDIF -->>
			<!-- IF age_row.IS_MINE --><td class="bg3" align="left"><span class="gen">&bull; <i>{age_row.AGE_RANGE}</i><!-- ELSE --><td class="bg2" align="left"><span class="gen">&bull; {age_row.AGE_RANGE}<!-- ENDIF --></span></td>
			<td class="bg3" align="right"><span class="gen">{age_row.COUNT}&nbsp;-<br />{age_row.PCT}%</span></td>
		</tr>
		<!-- END age_row -->
	</table>
	<br />
	<!-- ELSE -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{L_NONE}<br /><br />
	<!-- ENDIF -->
	</div>
</span>
<!-- IDTAG ends block_top_topics.html -->