<!-- IDTAG starts block_top_topics.html 14 October 2008 copyright phpbbireland.com 2008 -->
<span class="block_data">
	<div>
		<table width="100%" cellpadding="4" cellspacing="1" border="0" class="inner" style="border:none;">
			<tr>
				<td class="bg1" align="left"><span class="gen"><b>{L_TOPIC}</b></a></span></td>
				<td class="bg1" align="right"><span class="gen"><b>{L_REPLIES}</b></span></td>
			</tr>
			<tr><td class="bg1"><hr></td><td class="bg1"><hr></td></tr>
			<!-- BEGIN top_topics -->
			<tr>
				<td class="bg2" align="left" ><span class="gen">
					<a href="{top_topics.S_SEARCH_ACTION}">{top_topics.TOPIC_TITLE}</a>
				</span></td>
				<td class="bg3" align="right"><span class="gen">{top_topics.TOPIC_REPLIES}</span></td>
			</tr>
			<!-- END top_topics -->
		</table>
	</div>
</span>
<!-- IDTAG ends block_top_topics.html -->