<!-- IDTAG starts block_http_referer.html 20 October 2008 copyright phpbbireland.com 2008 -->
<span class="block_data">
	<div>
		<table width="100%" cellpadding="4" cellspacing="1" border="0" class="inner" style="border:none;">
			<tr>
				<td class="bg1" align="left"><span class="gen"><b>{L_HTTP_HOST}</b></span></td>
				<td class="bg1" align="right"><span class="gen"><b>{L_HITS}</b></span></td>
			</tr>
			<tr><td class="bg1"><hr></td><td class="bg1"><hr></td></tr>
			<!-- BEGIN datarow -->
			<tr>
				<td class="bg2" align="left" ><span class="gen"><a href="{datarow.U_HTTP_HOST}" target="_blank">{datarow.S_HTTP_HOST}</a></span></td>
				<td class="bg3" align="right"><span class="gen">{datarow.S_HITS}</span></td>
			</tr>
			<!-- END datarow -->
		</table>
	</div>
</span>
<!-- IDTAG ends block_http_referer -->