<!-- IDTAG block_translate.html 17 March 2008 -->

<span class="block_data">
	<div class="translate_head">{L_TRANSLATE_SITE}</div>
	<!-- BEGIN translate -->

	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_zh&url={translate.BASE_URL}portal.php" /><img src="./images/flags/cn.gif" alt="" /> <strong>Chinese-simp</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_zt&url={translate.BASE_URL}portal.php" /><img src="./images/flags/cn.gif" alt="" /> <strong>Chinese-trad</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_nl&url={translate.BASE_URL}portal.php" /><img src="./images/flags/nl.gif" alt="" /> <strong>Dutch</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_fr&url={translate.BASE_URL}portal.php" /><img src="./images/flags/fr.gif" alt="" /> <strong>French</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_de&url={translate.BASE_URL}portal.php" /><img src="./images/flags/de.gif" alt="" /> <strong>German</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_el&url={translate.BASE_URL}portal.php" /><img src="./images/flags/gr.gif" alt="" /> <strong>Greek</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_it&url={translate.BASE_URL}portal.php" /><img src="./images/flags/it.gif" alt="" /> <strong>Italian</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_ja&url={translate.BASE_URL}portal.php" /><img src="./images/flags/jp.gif" alt="" /> <strong>Japanese</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_ko&url={translate.BASE_URL}portal.php" /><img src="./images/flags/kp.gif" alt="" /> <strong>Korean</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_pt&url={translate.BASE_URL}portal.php" /><img src="./images/flags/pt.gif" alt="" /> <strong>Portuguese</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_ru&url={translate.BASE_URL}portal.php" /><img src="./images/flags/ru.gif" alt="" /> <strong>Russian</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_es&url={translate.BASE_URL}portal.php" /><img src="./images/flags/es.gif" alt="" /> <strong>Spanish</strong></a></div></div>
	<div class="trans"><div><a href="http://babelfish.altavista.com/babelfish/trurl_pagecontent?lp={translate.USER_LANG}_en&url={translate.BASE_URL}portal.php" /><img src="./images/flags/uk.gif" alt="" /> <strong>English</strong></a></div></div>

	<script language="JavaScript">
	//<!--
	function babelReset()
	{
		window.location.href='{translate.BASE_URL}portal.php'
	}
	document.write("<a target='_self' href='javascript:babelReset()' class=xs ><div class='translate_reset'>{L_TRANSLATE_RESET}</div></a>");
	document.close();
	// --></script>
	<!-- END translate -->
</span>

<!-- IDTAG ends -->

<!-- if ie 5 or 6 -->
<!--[if lte IE 6]>
<br />
<![endif]-->