<!-- IDTAG block_stats.html starts 21 August 2006 -->
<!-- INCLUDE blocks/blocks_header_left.html --><img src="{T_THEME_PATH}/images/mini_statistics.gif" alt="{L_STATISTICS}" /> {L_STATISTICS}<!-- INCLUDE blocks/blocks_header_right.html --> 
<div class="box">
	<span class="whos_online">
	{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
	</span>
</div>
				<div class="block_bc" style="width:100%;">
					<span class="block_bl" style="float:left;"><img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="20px" height="6px" /></span>
					<span class="block_br" style="float:right;"><img src="{T_THEME_PATH}/images/spacer.gif" alt="" width="20px" height="6px" /></span>
				</div>
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- IDTAG block_stats.html ends -->
</div>