/* ------------------------ Stargate Portal mods ------------------------ */
/* 
New format css file... We no longer edit the original subsilver2 css
file... All portal css tags are placed in the portal css file... 
Here we overload previous subsilver2 tags and of course add the 
necessary portal tags...
This makes porting of subsilver styles much easier... The same will
also be dome for subsilver based styles... Mike

Note: The portal.css is called from the overall_header.html, this 
requires 1 edit to the functions.php...
*/




/* Block Classes 
-------------------------------------------------------------------------- */

.block_header {
color: #FFA34F;
font-size: 1.1em;
font-weight: bold;
background-color: #006699;
background-image: url('./images/cellpic3.gif');
background-repeat:repeat-x;
width:100%;
white-space: nowrap;
padding:6px;
}
.block_header a { color:#FFA34F; }

.block_data {
float:left;
width:100%; /* required to centre data */
}

.block_body {
background-color: #F9F9F9;
width:100%; /* IE :( */
border-top: solid 1px #BBBBBB;
border-left: solid 1px #BBBBBB;
border-right: solid 1px #BBBBBB;
border-bottom: solid 1px #BBBBBB;
overflow: hidden;
margin-bottom: 13px;
clear: both;
}

.block_head {
color: #FFA34F;
font-size: 1.1em;
font-weight: bold;
background-color: #006699;
background-image: url('./images/cellpic3.gif');
height:25px;
white-space: nowrap;
padding:2px;
}
.box {
background-color: #F9F9F9;
text-align:left;
padding:5px;
padding-top:8px;
padding-bottom:8px;
margin:0;
margin-top:3px; /* set this to more for larger icons */
margin-bottom:1px;
overflow: hidden;
width:auto;
/*
background-image: url('./images/background.gif');
background-repeat:repeat;
*/
}
/*
.box_head{
background-image: url('./images/box_head.png');
width: 100%;
margin: 0 auto;
border: solid 1px #000000; 
}
.box_footer{
background-image: url('./images/box_footer.png');
width: 100%;
margin: 0 auto;
border: solid 1px #000000; 
}
*/

.k_quick {
width:70%;
text-align:left;
margin-bottom: 4px; 
clear: both;
background-color: #080809;
border:1px solid; border-color: #000;
}
.k_block_header {
color: #B00000;
font-size: 1.1em;
font-weight: bold;
background-image: url('./images/cellpic1.gif');
background-repeat:repeat-x;
white-space: nowrap;
border: solid 1px #000;
border-bottom:none;
padding: 4px;
}


/* News/Announcements
---------------------------------------------------------------------------------------------- */
.news { width:100%; text-align:left; padding-left:10px; }
.news_body { width:100%; text-align:left; padding-top: 5px; padding-bottom: 10px; float:left;}
.news img {text-align:center;}

.mynews {
text-align:left;
font-size:10px;
background: #323232 none repeat-x 0 0;
margin-bottom: 4px; 
padding: 0 5px;
clear: both;
}
.myannounce {
text-align:left;
font-size:10px;
background: #383838 none repeat-x 0 0;
margin-bottom: 4px; 
padding: 0 5px;
clear: both;
}

.news_title {
color:green;
font-weight: bold;
float:left;
text-align:left; 
width:50%;
}
.news_poster {
 float:left;
 text-align:left;
 width:40%; 
}
.news_time {
 color:green;
 font-weight: bold;
 float:right;
 text-align:right;
 width:50%;
 padding-top:5px;
 padding-bottom:5px;
}
.news_comments {
 float:left;
 text-align:center; 
 width:20%;
}
.news_reply {
color:green;
float:left;
text-align:right; 
width:40%; 
}

.newscat {
color:#C6C0B7;
text-align:center;
font-size: 1em;
font-weight: bold;
width:auto;
border: solid 1px #5E5E5E;
padding:2px;
}
.newscat2 {
color:#C6C0B7;
text-align:center;
font-size: 1em;
font-weight: bold;
width:auto;
border: solid 1px #5E5E5E;
padding:2px;
}

.news_box {
 float: right; padding:0; width: 190px; height: 40px; margin-top: 1px; margin-right: 10px;
}
.announce_box {
 float: right; padding:0; width: 200px; height: 40px; margin-top: 1px; margin-right: 10px;
}

/* round corners 
-------------------------------------------------------------------------------------------------------------- */
span.corners-top-news, span.corners-bottom-news, span.corners-top-news span, span.corners-bottom-news span {
font-size: 1px;
line-height: 1px;
display: block;
height: 5px;
background-repeat: no-repeat;
}
span.corners-top-news {
background-image: none;
background-position: 0 0;
margin: 0 -5px;
}
span.corners-top-news span {
background-image: none;
background-position: 100% 0;
}

span.corners-bottom-news {
background-image: none;
background-position: 0 100%;
margin: 0 -5px;
clear: both;
}
span.corners-bottom-news span {
background-image: none;
background-position: 100% 100%;
}
span.corners-top-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-top-news span {
background-image: url("./images/corners_right_news.png");
}
span.corners-bottom-news {
background-image: url("./images/corners_left_news.png");
}
span.corners-bottom-news span {
background-image: url("./images/corners_right_news.png");
}


/* bbcode...
------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.bbb-bold, .bbb-bold a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-bold.gif"); width:22px; height:22px; }
.bbb-bold:hover{ background-position: 0px -23px;}.bbb-quote,
.bbb-italic, .bbb-italic a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-italic.gif");width:22px; height:22px;}
.bbb-italic:hover{ background-position: 0px -23px;}.bbb-quote, 
.bbb-quote a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-quote.gif"); width:22px; height:22px;}
.bbb-quote:hover{ background-position: 0px -23px;}.bbb-code, 
.bbb-code a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-code.gif");width:22px; height:22px;}
.bbb-code:hover{ background-position: 0px -23px;}.bbb-list, 
.bbb-list a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-list.gif");width:22px; height:22px;}
.bbb-list:hover{ background-position: 0px -23px;}.bbb-flash, 
.bbb-flash a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-flash.gif"); width:22px; height:22px;}
.bbb-flash:hover{ background-position: 0px -23px;}.bbb-image, 
.bbb-image a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-image.gif"); width:22px; height:22px;}
.bbb-image:hover{ background-position: 0px -23px;}
.bbb-url, .bbb-url a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-url.gif"); width:22px; height:22px;}
.bbb-url:hover{ background-position: 0px -23px;}
.bbb-under_line, .bbb-under_line a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-under_line.gif");width:22px; height:22px;}
.bbb-under_line:hover{ background-position: 0px -23px;}
.bbb-align_center, .bbb-align_center a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_center.gif");width:22px; height:22px;}
.bbb-align_center:hover{ background-position: 0px -23px;}
.bbb-align_left, .bbb-align_left a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_left.gif");width:22px; height:22px;}
.bbb-align_left:hover{ background-position: 0px -23px;}
.bbb-align_right, .bbb-align_right a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-align_right.gif");width:22px; height:22px;}
.bbb-align_right:hover { background-position: 0px -23px;}
.bbb-ordered_list, .bbb-ordered_list a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-ordered_list.gif");width:22px; height:22px;}
.bbb-ordered_list:hover{ background-position: 0px -23px;}
.bbb-add_list_item, .bbb-add_list_item a { border:none; background-image: url("./../../../images/bbcode/bbb-icon-add_list_item.gif"); width:22px; height:22px;}
.bbb-add_list_item:hover { background-position: 0px -23px;}
.bbb-note, .bbb-note a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-note.gif");width:22px; height:22px;}
.bbb-note:hover { background-position: 0px -23px;}
.bbb-spoiler, .bbb-spoiler a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-spoiler.gif"); width:22px; height:22px;}
.bbb-spoiler:hover{ background-position: 0px -23px;}
.bbb-tab, .bbb-tab a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-tab.gif"); width:22px; height:22px;}
.bbb-tab:hover{ background-position: 0px -23px;}
.bbb-sup, .bbb-sup a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-sup.gif"); width:22px; height:22px;}
.bbb-sup:hover{ background-position: 0px -23px;}
.bbb-sub, .bbb-sub a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-sub.gif"); width:22px; height:22px;}
.bbb-sub:hover{ background-position: 0px -23px;}
.bbb-strike, .bbb-strike a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-strike.gif");width:22px; height:22px;}
.bbb-strike:hover { background-position: 0px -23px;}
.bbb-link, .bbb-link a{ border:none; background-image: url("./../../../images/bbcode/bbb-icon-link.gif");width:22px; height:22px;}
.bbb-link:hover { background-position: 0px -23px;}
.rollover, .rollover a { display:inline; float:left; } .rollover a:hover { background-position: 0 -23px; }
.bbb-icon-spacer {border:none; background-image: url("./../../../images/bbcode/bbb-icon-spacer.gif"); width:3px; height:22px;}





/* sdMenu
---------------------------------------------------------------------------- */
div.sdmenu div {
 overflow: hidden;
 font-weight: bold;
 width:100%;
}
div.sdmenu div.collapsed {
 height: 18px;
}
div.sdmenu span {
 display: block;
 padding: 2px 6px;
 cursor: default;
}
.sub_heading {
color: #484C92;
font-size:12px;
font-family: Comic Sans MS, Sans-Serif;
font-weight: bold;
padding-top:5px;
padding-bottom:5px;
text-align:left;
}

.menu_item {
padding-left:4px; padding:2px; width:100%;
}


/* NeXur's bable translation block
-------------------------------------------------------------------------- */
.translate_head {
 text-align:center;
 background : #EBEBEB;
 color: #8E0000;
 padding:5px;
}

div.trans div a.current {
background : #ccc;
}
div.trans div a:hover {
background : #ECECEC url("images/linkarrow.gif") no-repeat right center;
color: #DE1717;
text-decoration: none;
}
div.trans div a {
width:auto;
padding:2px;
/*background: #080809;*/
display: block;
color: #2E5B82;
}
.translate_reset {
 text-align:center;
 padding-top:5px;
}
.linkrowleft {
text-align:left;
border-bottom: solid 2px #131313;
background-color: #1A1A1A;
background-image: url('./images/linkrow.gif');
padding: 4px;
width: 50%;
}

.linkrowright {
border-bottom: solid 2px #131313;
background-color: #1A1A1A;
background-image: url('./images/linkrow.gif');
padding: 4px;
width: 50%;
}


/* scroll 
-------------------------------------------------------------------------- */
div.scroll_outer {
z-index: 1;
position: relative;
overflow: hidden;
}
div.scroll_inner {
position: absolute;
z-index: 2;
height:auto;
width:100%;
}



/* set some colours
 -------------------------------------------------------------------------- */
.orange
{
color: #FFC000;
font-weight: bold;
}
.green
{
color:#008000;
font-weight: bold;
}
.red
{
color:#FF0000;
font-weight: bold;
}
.gray 
{
color:#BABABA;
font-weight: bold;
}

/* Misc
 -------------------------------------------------------------------------- */
.smallimage {
width:25px; 
height:25px; 
float:left;
margin:0;
margin-bottom:5px;
}

.unresolved {
padding:5px;
padding-left: 12px;
padding-right: 12px;
}

.category {
 color: #8E0000;
 text-align:left; 
 padding-left:24px; 
}
.category2 {
color: #105289;
text-align:left;
padding:1px;
}
/*
.showhide { 
float: right; 
margin-top: -13px; 
margin-right: 10px; 
}
*/
.handle { 
 cursor: move; 
}

.bg1a{ background-color: #DFDFDF; }
.bg2a{ background-color: #E7E7E7; }

.forum_icons {
float:left;
padding-right:10px;
position:relative; left: 5px; top: -20px;
}

acronym{
font-style:italic;
font-weight:bold;
border-bottom:1px #BD5121 dashed ;
color:#459B37;
cursor: help;
}



/* advanced styles
 -------------------------------------------------------------- */
caption { 
margin: 0; 
padding: 0;
background: url(images/blocks/2.png) top left repeat-x;
white-space: nowrap;
height: 22px;
text-align: left;
}
.cap-left {
background: url(images/blocks/1.png) top left no-repeat;
padding-left: 25px;
}
.cap-left-wide {
background: url(images/blocks/1w.png) top left no-repeat;
padding-left: 72px;
}
.cap-right {
background: url(images/blocks/3.png) top right no-repeat;
padding-top: 6px;
height: 22px;
}
.cap-right-wide {
background: url(images/blocks/3w.png) top right no-repeat;
padding-top: 6px;
height: 22px;
}
.cap-right-wide_no {
background: url(images/blocks/cat_t_right_no.gif) top right no-repeat;
padding-top: 6px;
height: 22px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span { 
font-size: 12px;
line-height: 1.2em;
font-weight: bold;
color: #2E5B82;
font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
caption h1, caption h2, caption h3, caption h4, caption span { 
display: inline;
}
caption a, caption a:visited {
color: #2E5B82;
text-decoration: underline;
}
caption a:hover {
color: #D11010;
text-decoration: underline;
}


/* Overloading... 
 -------------------------------------------------------------------------- */

.shouts{
width: 100%;
height:200px;
overflow:auto;
}

#chat{
width: 100%;
text-align:left;
}

#message {
width: 65%;
}

#whois_online{
vertical-align:text-top;
text-align:left;
}

.online_img {
vertical-align:middle;
}

#act_indicator {
visibility:hidden;
}

#wrapsts {
border-style: solid;
border-width: 0 0px 0px 0px;
border-color: #000;
margin: 0 auto;
}

.spacer {
background-image: url(images/spacer.gif); width:10px; height:1px;
}
.gap {
background-image: url(images/gap.gif); width:1px; height:2px;
}



/* Main message box */
#message-box {
width: 96%;

}

#message-box textarea {
font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
width: 100%;
font-size: 1.2em;
color: #B6B6B6;
}

/* Emoticons panel */
#smiley-box {
width: 18%;
float: right;
margin-left:5px;
text-align:center;
}

#smiley-box img {
margin: 3px;
}
.inputbox {border-color: #101010; 
border:1px solid; border-color:#000000 #333535 #333535 #000000; margin:1px;padding:1px;
}


/* Back to top of page */
.back2top {
clear: both;
height: 13px;
text-align: right;
}


.direction {
border:none; padding:0; background: #FFF url(images/scroll_arrows.gif) repeat-x; height: 16px;
}
input.search {
background-image: none;
background-repeat: no-repeat;
background-position: left 1px;
padding-left: 17px;
}

input.search {
background-image: url("./images/icon_search.gif");
background-repeat: no-repeat;
padding-left: 17px;
}
.search a:hover {
color: #FFFFFF;
text-decoration: underline; 
}


/* Icon images */
.rtl .icon_chat {
background-position: 100% 50%;
padding: 1px 17px 0 0;
}

/* Icon images */
.icon-chat {
 background-position: 0 50%;
 background-repeat: no-repeat;
 background-image: none;
 padding: 1px 0 0 17px;
}

/* Icon images */
.icon-chat {
 background-image: url("{T_THEME_PATH}/images/icon_chat.gif"); 
 }


table.box {
background-color:#080809;
border-top: solid 1px #000001;
border-left: solid 1px #000001;
border-right: solid 1px #000001;
border-bottom: solid 1px #000001;
padding:0;
}

.button2 {
color: #F0FADC;
font-weight: normal;
font-size: 1.1em;
font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
background: #212121 url('./images/cellpic1.gif');
border: 1px solid #121212;
}
.button2:hover {
color: #81B41A;
}
.button1 {
font-weight: bold;
background: #212121 url('./images/cellpic1.gif');
border: 1px solid #121212;
cursor: pointer;
padding: 1px 5px;
font-size: 1.1em;
}
.button1:hover {
color: #81B41A;
}

/* code with lines Mike */
.codecontent {
overflow: auto;
display: block;
height: auto;
max-height: 300px;
white-space: normal;
}

/*
-----------------------------------------------------*
/* fix for ie in search 10 February 2008 */
input.full{ width: 99%; }



/* Temp over-rides link for header Mike
-----------------------------------------------------*/
/*
.hmenu { margin: 1px 1px; font-size: 1.1em; }
.hmenu a:link, a:visited, a:active {text-decoration: none;}
.hmenu a:hover {text-decoration: none; color: #B2B2B2;}
a:hover { color: #B2B2B2; text-decoration: underline; }

.body {
background-color: #000000;
background-image: url('./images/background.gif');
background-repeat: repeat;
background-attachment: fixed;
}
*/
#container {width: 100%; background: #eee; margin: 0 auto; text-align: left; }

