<!-- IDTAG block_stats.html starts 21 August 2006 -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<span class="block_header">
			<span class="handle2">
				<img src="{T_THEME_PATH}/images/portal/mini_statistics.gif" alt="{L_STATISTICS}" /> {L_STATISTICS}
			</span>
		</span>
		<div class="box">
			<span class="whos_online">{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</span>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- IDTAG block_stats.html ends -->