<!-- IDTAG block_whos_on_line starts 13 September 2007 -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<span class="block_header">
			<span class="handle2">
				<a href="{U_VIEWONLINE}"><img src="{T_THEME_PATH}/images/mini_whosonline.gif" alt="{L_WHO_IS_ONLINE}" /> {L_WHO_IS_ONLINE}</a>
			</span>
		</span>
		<!-- IF S_DISPLAY_ONLINE_LIST -->
		<div class="box">
			<div class="whos_online">
				<a href="{U_VIEWONLINE}"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></a>
				<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
			</div>
		</div>
		<!-- ENDIF -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- IDTAG block_whos_on_line ends -->