<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
<div class="block_bg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<span class="block_header">
				<span class="handle">
					<img src="{T_THEME_PATH}/images/mini_birthday.gif" alt="{L_BIRTHDAYS}" /> {L_BIRTHDAYS}
				</span>
			</span>
			<div class="box" style="text-align:left;">
				<!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS} <!-- ENDIF -->
			</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->