/* Image replacement titles */
h2.imgrep {
	height: 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 3px  0 10px 0;
	font-size: 1em;
	border-bottom: none;
	font-size: 0em;
	color: #FFFFFF;
	text-indent: -9999px;
	}



h2.modules0 {
	background-image: url("images/titles/modules0.gif");
	}

h2.about {
	background-image: url("images/titles/about.gif");
	}
h2.features {
	background-image: url("images/titles/features.gif");
	}
h2.welcome {
	background-image: url("images/titles/welcome.gif");
	height:44px;
	}
h2.team {
	background-image: url("images/titles/team.gif");
	}
h2.history {
	background-image: url("images/titles/history.gif");
	}
h2.download {
	background-image: url("images/titles/download.gif");
	}

h2.map {
	background-image: url("images/titles/map.gif");
	}
h2.downloads {
	background-image: url("images/titles/downloads.gif");
	}
h2.support {
	background-image: url("images/titles/support.gif");
	}
h2.customise {
	background-image: url("images/titles/customise.gif");
	}
h2.community {
	background-image: url("images/titles/community.gif");
	}
h2.mods {
	background-image: url("images/titles/modifications.gif");
	}
h2.styles {
	background-image: url("images/titles/styles.gif");
	}
h2.intl {
	background-image: url("images/titles/intl.gif");
	}
h2.bugs {
	background-image: url("images/titles/bugs.gif");
	}
h2.security {
	background-image: url("images/titles/security.gif");
	}
h2.incidents {
	background-image: url("images/titles/incidents.gif");
	}

h2.documentation {
	background-image: url("images/titles/documentation.gif");
	}
h2.development {
	background-image: url("images/titles/development.gif");
	}
h2.languages {
	background-image: url("images/titles/languages.gif");
	}
h2.faq {
	background-image: url("images/titles/faq.gif");
	}
h2.tutorials {
	background-image: url("images/titles/tutorials.gif");
	}
h2.search {
	background-image: url("images/titles/search.gif");
	}
h2.modx {
	background-image: url("images/titles/modx.gif");
	}
h2.modsfaq {
	background-image: url("images/titles/modsfaq.gif");
	}
h2.modxcomparison {
	background-image: url("images/titles/modxcomparison.gif");
	}
h2.modsdb {
	background-image: url("images/titles/moddb.gif");
	}
h2.modsqueue {
	background-image: url("images/titles/modqueue.gif");
	}
h2.modsmy {
	background-image: url("images/titles/modsmy.gif");
	}
h2.stylesdb {
	background-image: url("images/titles/styledb.gif");
	}
h2.stylesqueue {
	background-image: url("images/titles/stylequeue.gif");
	}
h2.stylesmy {
	background-image: url("images/titles/stylesmy.gif");
	}
h2.kb {
	background-image: url("images/titles/kb.gif");
	}
h2.changelog {
	background-image: url("images/titles/changelog.gif");
	}
h2.designing_prosilver {
	background-image: url("images/titles/designing_prosilver.gif");
	height: 48px;
	}
h2.phpbbjobsboard {
	background-image: url("images/titles/phpbbjobsboard.gif");
	height: 42px;
	}
h2.error401 {
	background-image: url("images/titles/error401.gif");
	}
h2.error403 {
	background-image: url("images/titles/error403.gif");
	}
h2.error404 {
	background-image: url("images/titles/error404.gif");
	}
h2.error412 {
	background-image: url("images/titles/error412.gif");
	}
h2.error500 {
	background-image: url("images/titles/error500.gif");
	}
